#!jinja2
{%- set builds = ['fast-debug'] %}
{%- set science_configs = ['semi-implicit', 'runge-kutta', 'transport-rk'] %}
{%- set science_target = 'fast-debug' %}
{%- set compile_config = 'semi_implicit' %}

{%- set compiler_setup = {} -%}
{%- for compiler, setup in TARGET_COMPILER_SETUP|batch(2) -%}
{%-     do compiler_setup.update({compiler : [setup]}) -%}
{%-     if compiler == TARGET_SCIENCE_COMPILER -%}
{%-         set default_science_setup = setup -%}
{%-     endif -%}
{%- endfor -%}

{%- macro command_list() %}
{%-     set list = [] %}
{%-     for thing in varargs %}
{%-         if thing is string %}
{%-             do list.append(thing) %}
{%-         else %}
{%-             do list.extend(thing) %}
{%-         endif %}
{%-    endfor -%}
"""{{ list | join('\n') }}"""
{%- endmacro %}

[cylc]
    UTC mode = True
    [[event hooks]]
        timeout handler = "rose suite-hook --mail --shutdown"
        timeout = 180 # 3 hours

[scheduling]
    [[queues]]
        [[[host_throttle]]]
            limit = {{ TARGET_THROTTLE }}
            members = root
    [[dependencies]]
        graph = """
{%- if TECHNICAL_DEVELOPER_TESTS %}
            purge_for_technical => export_for_technical
{%-   if 'cleanliness' in TECHNICAL_DEVELOPER_TESTS %}
            export_for_technical => check_for_unused_source
{%-   endif %}

{%-   if 'documentation' in TECHNICAL_DEVELOPER_TESTS %}
            export_for_technical => api_documentation
            export_for_technical => design_documentation
{%-   endif %}
{%- endif %}

{%- for compiler, script in TARGET_COMPILER_SETUP | batch(2) %}
{%-   for build in builds %}
{%-     set label = compiler | lower + '_' + build | lower %}
            local_purge_for_{{label}}      => target_purge_for_{{label}}
            target_purge_for_{{label}}     => export_for_{{label}}
            export_for_{{label}}           => copy_{{label}}_to_target
            copy_{{label}}_to_target       => compile_with_{{label}}
            compile_with_{{label}}         => generate_{{label}}_cubedsphere
            compile_with_{{label}}         => generate_{{label}}_biperiodic
{%-    if compiler in TARGET_PERFORM_UNIT_TESTS %}
            compile_with_{{label}}         => unit_test_with_{{label}}
{%-    endif %}
{%-    if compiler in TARGET_PERFORM_KGO_TESTS %}
            generate_{{label}}_cubedsphere => check_{{label}}_cubedsphere_metadata
            generate_{{label}}_cubedsphere => check_{{label}}_cubedsphere_data
            generate_{{label}}_biperiodic  => check_{{label}}_biperiodic_metadata
            generate_{{label}}_biperiodic  => check_{{label}}_biperiodic_data
{%-    endif %}
{%-    for config in science_configs %}
{#-       At the point where we have more than one compiler or target we will #}
{#-       need some logic here.                                               #}
{%-       set config_label = config | lower + '_' + label %}
                compile_with_{{label}}    => run_{{config_label}}_dynamo
{%-       if compiler in TARGET_PERFORM_KGO_TESTS %}
                run_{{config_label}}_dynamo => check_{{config_label}}_dynamo
{%-       endif %}
{%-     endfor %}
{%-   endfor %}
{%- endfor %}
                """
[runtime]
    [[root]]
        initial scripting = """
                            export CYLC_VERSION={{CYLC_VERSION}}
                            export ROSE_VERSION={{ROSE_VERSION}}
                            """
        script     = "rose task-run"
        [[[event hooks]]]
            succeeded handler          = "rose suite-hook"
            failed handler             = "rose suite-hook"
            retry handler              = "rose suite-hook --mail"
            submission failed handler  = "rose suite-hook --mail"
            submission timeout         = 720 # 12 hours
            submission timeout handler = "rose suite-hook --mail"
            execution timeout          =  180 # 3 hours
            execution timeout handler  = "rose suite-hook --mail"
        [[[environment]]]
            SOURCE_ROOT = $CYLC_SUITE_SHARE_DIR/source
            OUTPUT_ROOT = $CYLC_SUITE_SHARE_DIR/output

    [[ LOCAL ]]
        [[[remote]]]
            host = {{ ROSE_ORIG_HOST }}
        [[[job submission]]]
            method = background

    [[TARGET]]
        [[[remote]]]
            host = {{TARGET_HOST}}
        [[[job submission]]]
            method = {{TARGET_BATCHER}}

{#############################################################################}
{# Godliness, it is, afterall, next to cleanliness                           #}

    [[TECHNICAL]]
        inherit = None, LOCAL
        [[[environment]]]
            DYNAMO_SOURCE_DIRECTORY      = $SOURCE_ROOT/technical
            DYNAMO_DESTINATION_DIRECTORY = $OUTPUT_ROOT/technical
            DYNAMO_BUILD_ROOT = {{TARGET_BUILD_ROOT}}/technical
        [[[directives]]]
{%- for DIRECTIVE in TARGET_TECHNICAL_BATCHER_DIRECTIVES %}
            {{DIRECTIVE}}
{%- endfor %}

    [[purge_for_technical]]
        {#- This task is done locally since it's just file handling. #}
        inherit = TECHNICAL
        script = "rm -rf $DYNAMO_SOURCE_DIRECTORY $DYNAMO_DESTINATION_DIRECTORY $DYNAMO_BUILD_ROOT"

    [[export_for_technical]]
        {#- This task has to be done locally as the working copy may be   #}
        {#- on a local disc.                                              #}
        inherit = TECHNICAL
        script = """
                 mkdir -p `dirname $DYNAMO_SOURCE_DIRECTORY`
                 svn export {{ SOURCE_DYNAMO }} $DYNAMO_SOURCE_DIRECTORY
                 """

    [[check_for_unused_source]]
        inherit = TECHNICAL
        pre-script = {{command_list(LOCAL_BASE_SETUP, LOCAL_TECHNICAL_SETUP, LOCAL_REVEAL_SETUP)}}
        script = "make -C $DYNAMO_SOURCE_DIRECTORY/src/dynamo unused-check"
        post-script = "rm -r $DYNAMO_BUILD_ROOT"

    [[api_documentation]]
        inherit = TECHNICAL
        pre-script = {{command_list( LOCAL_BASE_SETUP, LOCAL_REVEAL_SETUP) }}
        script = "make -C $DYNAMO_SOURCE_DIRECTORY/documentation api-documents"

    [[design_documentation]]
        inherit = TECHNICAL
        pre-script = {{command_list( LOCAL_BASE_SETUP, LOCAL_REVEAL_SETUP) }}
        script = "make -C $DYNAMO_SOURCE_DIRECTORY/documentation design-documents"

{#############################################################################}
{% macro pipeline_tasks( label, compiler, build ) %}
{#   A set of tasks for an "extract, compile, unit test, run, check" pipeline #}
{%   set family = label | upper %}
{%   set label = label | lower %}

    [[{{family}}]]
        [[[environment]]]
            DYNAMO_SOURCE_DIRECTORY      = $SOURCE_ROOT/{{label}}
            DYNAMO_DESTINATION_DIRECTORY = $OUTPUT_ROOT/{{label}}
            DYNAMO_COMPILER              = {{compiler}}
            DYNAMO_BUILD_TARGET          = {{TARGET_OPT}}

    [[{{family}}_BUILD_ENVIRONMENT]]
        inherit = TARGET
        [[[directives]]]
{%-    for DIRECTIVE in TARGET_BUILD_BATCHER_DIRECTIVES %}
            {{DIRECTIVE}}
{%-    endfor %}
        [[[environment]]]
            DYNAMO_BUILD_ROOT = {{TARGET_BUILD_ROOT}}/{{label}}

    [[{{family}}_RUN_ENVIRONMENT]]
        inherit = TARGET
        [[[directives]]]
{%-    for DIRECTIVE in TARGET_RUN_BATCHER_DIRECTIVES %}
            {{DIRECTIVE}}
{%-    endfor %}

    [[{{family}}_TECHNICAL_ENVIRONMENT]]
        inherit = TARGET
        [[[directives]]]
{%- for DIRECTIVE in TARGET_TECHNICAL_BATCHER_DIRECTIVES %}
            {{DIRECTIVE}}
{%- endfor %}

    [[local_purge_for_{{label}}]]
        inherit = {{family}}, LOCAL
        script = "rm -rf $DYNAMO_SOURCE_DIRECTORY $DYNAMO_DESTINATION_DIRECTORY"

    [[target_purge_for_{{label}}]]
        inherit = {{family}}, {{family}}_TECHNICAL_ENVIRONMENT
        script = "rm -rf $DYNAMO_SOURCE_DIRECTORY $DYNAMO_DESTINATION_DIRECTORY"

    [[export_for_{{label}}]]
        {#- This task has to be done locally as the working copy may be   #}
        {#- on a local disc.                                              #}
        inherit = {{family}}, LOCAL
        script = """
                 mkdir -p `dirname $DYNAMO_SOURCE_DIRECTORY`
                 svn export {{ SOURCE_DYNAMO }} $DYNAMO_SOURCE_DIRECTORY
                 """

    [[copy_{{label}}_to_target]]
        inherit = {{family}}, LOCAL
        script = """
            HOST={{TARGET_HOST}}
            DYNAMO_RELATIVE_SOURCE_DIRECTORY=`echo $DYNAMO_SOURCE_DIRECTORY | sed "s|$HOME/||"`
            ssh $HOST mkdir -p $DYNAMO_RELATIVE_SOURCE_DIRECTORY
            rsync -avz $DYNAMO_SOURCE_DIRECTORY/ $HOST:$DYNAMO_RELATIVE_SOURCE_DIRECTORY/
                  """

    [[compile_with_{{label}}]]
        inherit    = {{family}}, {{family}}_BUILD_ENVIRONMENT
        pre-script = {{command_list(TARGET_BASE_SETUP, TARGET_BUILD_SETUP, compiler_setup[compiler], TARGET_REVEAL_SETUP, "mkdir -p $DYNAMO_BUILD_ROOT")}}
        script     = "rose task-run --app-key=compile --command-key={{build}}"
        post-script = "cp -rp $DYNAMO_BUILD_ROOT $DYNAMO_SOURCE_DIRECTORY/build; rm -rf $DYNAMO_BUILD_ROOT"

    [[unit_test_with_{{label}}]]
        inherit = {{family}}, {{family}}_BUILD_ENVIRONMENT
        pre-script = {{command_list(TARGET_BASE_SETUP, TARGET_BUILD_SETUP, compiler_setup[compiler], TARGET_REVEAL_SETUP, "mkdir -p $DYNAMO_BUILD_ROOT", "cp -rp $DYNAMO_SOURCE_DIRECTORY/build/* $DYNAMO_BUILD_ROOT")}}
        script = "make -C $DYNAMO_SOURCE_DIRECTORY test"
        post-script = "cp -rp $DYNAMO_BUILD_ROOT $DYNAMO_SOURCE_DIRECTORY/build; rm -rf $DYNAMO_BUILD_ROOT"

    [[clean_build_{{label}}]]
        inherit = {{family}}, {{family}}_BUILD_ENVIRONMENT
        script = "rm -rf $DYNAMO_BUILD_ROOT"

{%- for config in science_configs %}
{%-   set config_label = config | lower + '_' + label %}
    [[run_{{config_label}}_dynamo]]
        inherit = {{family}}, {{family}}_RUN_ENVIRONMENT
        pre-script = {{command_list(TARGET_BASE_SETUP, TARGET_RUN_SETUP, compiler_setup[compiler], TARGET_REVEAL_SETUP)}}
        script = "rose task-run --verbose --debug --app-key=dynamo --command-key={{TARGET_RUN_METHOD}} --opt-conf-key={{config}}"
        post-script = "cp dynamo-checksums.txt $DYNAMO_DESTINATION_DIRECTORY/dynamo.{{config}}.{{compiler}}.out.txt"
        [[[environment]]]
            OMP_NUM_THREADS=2

    [[check_{{config_label}}_dynamo]]
        inherit = {{family}}, {{family}}_TECHNICAL_ENVIRONMENT
        script = "rose task-run --app-key=check_dynamo"
        [[[environment]]]
        DYNAMO_CONFIG = {{config}}
{%- endfor %}

    [[generate_{{label}}_cubedsphere]]
        inherit = {{family}}, {{family}}_TECHNICAL_ENVIRONMENT
        pre-script = {{command_list(TARGET_BASE_SETUP, TARGET_BUILD_SETUP, compiler_setup[compiler], TARGET_REVEAL_SETUP)}}
        script = """
            mkdir -p $DYNAMO_DESTINATION_DIRECTORY
            $DYNAMO_SOURCE_DIRECTORY/bin/generate_cubedsphere -ndivs 4 \
                             -o $DYNAMO_DESTINATION_DIRECTORY/ugrid_quads_2d.nc
                 """

    [[check_{{label}}_cubedsphere_metadata]]
        inherit = {{family}}, {{family}}_TECHNICAL_ENVIRONMENT
        pre-script = {{command_list(TARGET_BASE_SETUP, compiler_setup[compiler], TARGET_REVEAL_SETUP)}}
        script = """
            rose task-run --app-key=check_cubedsphere \
                          --command-key=check_cubedsphere_metadata
                 """

    [[check_{{label}}_cubedsphere_data]]
        inherit = {{family}}, {{family}}_TECHNICAL_ENVIRONMENT
        pre-script = {{command_list(TARGET_BASE_SETUP, compiler_setup[compiler], TARGET_REVEAL_SETUP)}}
        script = """
            rose task-run --app-key=check_cubedsphere \
                          --command-key=check_cubedsphere_data
                 """

    [[generate_{{label}}_biperiodic]]
        inherit = {{family}}, {{family}}_TECHNICAL_ENVIRONMENT
        pre-script = {{command_list(TARGET_BASE_SETUP, TARGET_BUILD_SETUP, compiler_setup[compiler], TARGET_REVEAL_SETUP)}}
        script = """
            mkdir -p $DYNAMO_DESTINATION_DIRECTORY
            mkdir -p data
            $DYNAMO_SOURCE_DIRECTORY/bin/generate_biperiodic -nx 16 -ny 8 \
                  -dx 100 -dy 50 -o $DYNAMO_DESTINATION_DIRECTORY/biperiodic.nc
                 """

    [[check_{{label}}_biperiodic_metadata]]
        inherit = {{family}}, {{family}}_TECHNICAL_ENVIRONMENT
        pre-script = {{command_list(TARGET_BASE_SETUP, compiler_setup[compiler], TARGET_REVEAL_SETUP)}}
        script = """
            rose task-run --app-key=check_biperiodic \
                          --command-key=check_biperiodic_metadata
                 """

    [[check_{{label}}_biperiodic_data]]
        inherit = {{family}}, {{family}}_TECHNICAL_ENVIRONMENT
        pre-script = {{command_list(TARGET_BASE_SETUP, compiler_setup[compiler], TARGET_REVEAL_SETUP)}}
        script = """
            rose task-run --app-key=check_biperiodic \
                          --command-key=check_biperiodic_data
                 """
{% endmacro %}
{#############################################################################}

{% for compiler, module in TARGET_COMPILER_SETUP | batch(2) -%}
{%   for build in builds -%}
{{     pipeline_tasks( compiler + '_' + build, compiler, build ) }}
{%   endfor -%}
{% endfor -%}
