#!jinja2
{% set targets = ['fast-debug'] %}
{% set module_setup_script = "/data/cr1/mhambley/modules/setup" %}

{% set environment_commands = "source " + module_setup_script + "; module load environment/dynamo/base" %}
{% set display_environment = "module list 2>&1" %}

{% set default_compiler, default_version = DEFAULT_ENVIRONMENT %}
[cylc]
    UTC mode = True 
    [[event hooks]]
        timeout handler = "rose suite-hook --mail --shutdown"
        timeout = 180 # 3 hours

{%- macro prepare_pipeline_schedule( id ) -%}
{#- The schedule for the initial "purge" and "extract" stages of a pipeline. -#}
  {%- set label = id | lower -%}
                purge_for_{{label}} => export_for_{{label}}
{%- endmacro -%}

{% macro pipeline_schedule( compiler, target ) %}
{#   The schedule for an "extract, compile, unit test, run, check" pipeline #}
{%   set label = compiler | lower + '_' + target | lower %}
{{ prepare_pipeline_schedule( label ) }}
                export_for_{{label}} => compile_with_{{label}}
                compile_with_{{label}} => unit_test_with_{{label}}
                unit_test_with_{{label}} => generate_{{label}}_cubedsphere
                generate_{{label}}_cubedsphere => check_{{label}}_cubedsphere_metadata
                generate_{{label}}_cubedsphere => check_{{label}}_cubedsphere_data
                unit_test_with_{{label}} => generate_{{label}}_biperiodic
                generate_{{label}}_biperiodic => check_{{label}}_biperiodic_metadata
                generate_{{label}}_biperiodic => check_{{label}}_biperiodic_data
                unit_test_with_{{label}} => run_{{label}}_dynamo
                run_{{label}}_dynamo => check_{{label}}_dynamo
{% endmacro %}

[scheduling]
    [[queues]]
        [[[host_throttle]]]
            limit = 4
            members = REMOTE
    [[dependencies]]
        graph = """
{{ prepare_pipeline_schedule( 'cleanliness' ) }}
                export_for_cleanliness => check_for_unused_source

{{ prepare_pipeline_schedule( 'documentation' ) }}
                export_for_documentation => api_documentation
                export_for_documentation => design_documentation
{% for compiler, version in COMPILER_ENVIRONMENTS | batch(2) -%}
{%   for target in targets -%}
{{     pipeline_schedule( compiler, target ) }}
{%   endfor -%}
{% endfor -%}
                """

[runtime]
    [[root]]
        initial scripting     = """
                                export CYLC_VERSION={{CYLC_VERSION}}
                                export ROSE_VERSION={{ROSE_VERSION}}
                                """
        command scripting     = "rose task-run"
        [[[event hooks]]]
            succeeded handler          = "rose suite-hook"
            failed handler             = "rose suite-hook"
            retry handler              = "rose suite-hook --mail"
            submission failed handler  = "rose suite-hook --mail"
            submission timeout         = 720 # 12 hours
            submission timeout handler = "rose suite-hook --mail"
            execution timeout          =  180 # 3 hours
            execution timeout handler  = "rose suite-hook --mail"
        [[[job submission]]]
            method = at

    [[ LOCATIONS ]]
        [[[environment]]]
            SOURCE_ROOT     = $CYLC_SUITE_SHARE_DIR/src
            OUTPUT_ROOT     = $CYLC_SUITE_SHARE_DIR/output

    [[LOCAL]]
        [[[remote]]]
            host = {{ ROSE_ORIG_HOST }}

    [[REMOTE]]
        [[[remote]]]
            host = $(rose host-select {{ LINUX_HOSTS }})

{#############################################################################}
{% macro prepare_pipeline( id ) %}
{#   The "purge" and "extract" stages common to many pipelines. #}
{#   Also sets up the pipeline family.                          #}
{%   set family = id | upper %}
{%   set label = id | lower %}
    [[{{family}}]]
        # This empty group is here only to make the graph display work as
        # desired.

    [[{{family}}_ENVIRONMENT]]
        inherit = LOCATIONS
        pre-command scripting = """
                                {{ environment_commands }}
                                {{ display_environment }}
                                """
        [[[environment]]]
            SOURCE_DIRECTORY      = $SOURCE_ROOT/{{label}}
            DESTINATION_DIRECTORY = $OUTPUT_ROOT/{{label}}

    [[purge_for_{{label}}]]
        inherit = {{ family }}, {{family}}_ENVIRONMENT, LOCAL
        command scripting = """
                            rm -rf $SOURCE_DIRECTORY
                            rm -rf $DESTINATION_DIRECTORY
                            """

    [[export_for_{{label}}]]
        inherit = {{ family }}, {{family}}_ENVIRONMENT, LOCAL
        command scripting = """
                            mkdir -p $SOURCE_ROOT
                            svn export {{ SOURCE_DYNAMO }} $SOURCE_DIRECTORY
                            """
{% endmacro %}
{#############################################################################}
{# Godliness, it is, afterall, next to cleanliness                             #}

{{ prepare_pipeline( 'documentation' ) }}

    [[api_documentation]]
        inherit = DOCUMENTATION, DOCUMENTATION_ENVIRONMENT, LOCAL
        command scripting = """
                            make -C $SOURCE_DIRECTORY/documentation api
                            """

    [[design_documentation]]
        inherit = DOCUMENTATION, DOCUMENTATION_ENVIRONMENT, LOCAL
        command scripting = """
                            make -C $SOURCE_DIRECTORY/documentation documents
                            """

{#############################################################################}

{{ prepare_pipeline( 'cleanliness' ) }}

    [[CLEANLINESS_COMPILER]]
        inherit = CLEANLINESS_ENVIRONMENT
        pre-command scripting = """
                                {{ environment_commands }}
                                module load environment/dynamo/compiler/{{default_compiler}}/{{default_version}}
                                {{ display_environment }}
                                """

    [[check_for_unused_source]]
        inherit = CLEANLINESS, CLEANLINESS_COMPILER
        command scripting = """
                            make -C $SOURCE_DIRECTORY/src/dynamo unused-check
                            """
{#############################################################################}
{% macro pipeline_tasks( compiler, version, target ) %}
{#   A set of tasks for an "extract, compile, unit test, run, check" pipeline #}
{%   set family = compiler | upper + '_' + target | upper %}
{%   set label = compiler | lower + '_' + target | lower %}

{{ prepare_pipeline( label ) }}

    [[{{family}}_COMPILER]]
        inherit = {{family}}_ENVIRONMENT
        pre-command scripting = """
                                {{ environment_commands }}
                                module load environment/dynamo/compiler/{{compiler}}/{{version}}
                                {{ display_environment }}
                                """
        [[[environment]]]
            COMPILER              = {{compiler}}

    {% set database_directory = '/var/tmp/$USER/dynamo/$CYLC_SUITE_NAME' %}
    [[compile_with_{{label}}]]
        inherit = {{family}}, {{family}}_COMPILER, REMOTE
        command scripting = """
                            (
                            mkdir -p {{database_directory}}
                            make -C $SOURCE_DIRECTORY {{target}}
                            RC=$?
                            rm -rf $DYNAMO_DEPENDENCY_DB
                            exit $RC
                            )
                            """
        [[[environment]]]
            DYNAMO_DEPENDENCY_DB = {{database_directory}}/{{label}}.db

    [[unit_test_with_{{label}}]]
        inherit = {{family}}, {{family}}_COMPILER, REMOTE
        command scripting = "make -C $SOURCE_DIRECTORY test"

    [[run_{{label}}_dynamo]]
        inherit = {{family}}, {{family}}_COMPILER, REMOTE
        command scripting = """
                            (
                            mkdir -p $DESTINATION_DIRECTORY
                            cp $SOURCE_DIRECTORY/data/ugrid_quads_2d.nc .
                            cp $SOURCE_DIRECTORY/data/dynamo_configfile.nml .
                            cp $SOURCE_DIRECTORY/data/dynamo_initfile.nml .
                            cp $SOURCE_DIRECTORY/data/dynamo_restart.nml .
                            $SOURCE_DIRECTORY/bin/dynamo | tee $DESTINATION_DIRECTORY/dynamo.out.txt
                            exit `expr ${PIPESTATUS[0]} + ${PIPESTATUS[1]}`
                            )
                            """

    [[check_{{label}}_dynamo]]
        inherit = {{family}}, {{family}}_COMPILER, REMOTE
        command scripting = "rose task-run --verbose --debug --app-key=check_dynamo"

    [[generate_{{label}}_cubedsphere]]
        # generate_cubedsphere writes ugrid to $DESTINATION_DIRECTORY
        inherit = {{family}}, {{family}}_COMPILER, REMOTE
        command scripting = """
                            mkdir -p $DESTINATION_DIRECTORY
                            mkdir -p data
                            $SOURCE_DIRECTORY/bin/generate_cubedsphere -ndivs 4 -o $DESTINATION_DIRECTORY/ugrid_quads_2d.nc
                            """

    [[check_{{label}}_cubedsphere_metadata]]
        inherit = {{family}}, {{family}}_COMPILER, REMOTE
        command scripting = "rose task-run --app-key=check_cubedsphere --command-key=check_cubedsphere_metadata"

    [[check_{{label}}_cubedsphere_data]]
        inherit = {{family}}, {{family}}_COMPILER, REMOTE
        command scripting = "rose task-run --app-key=check_cubedsphere --command-key=check_cubedsphere_data"

    [[generate_{{label}}_biperiodic]]
        inherit = {{family}}, {{family}}_COMPILER, REMOTE
        command scripting = """
                            mkdir -p $DESTINATION_DIRECTORY
                            mkdir -p data
                            $SOURCE_DIRECTORY/bin/generate_biperiodic -nx 16 -ny 8 -dx 100 -dy 50 -o $DESTINATION_DIRECTORY/biperiodic.nc
                            """

    [[check_{{label}}_biperiodic_metadata]]
        inherit = {{family}}, {{family}}_COMPILER, REMOTE
        command scripting = "rose task-run --app-key=check_biperiodic --command-key=check_biperiodic_metadata"

    [[check_{{label}}_biperiodic_data]]
        inherit = {{family}}, {{family}}_COMPILER, REMOTE
        command scripting = "rose task-run --app-key=check_biperiodic --command-key=check_biperiodic_data"
{% endmacro %}
{#############################################################################}

{% for compiler, version in COMPILER_ENVIRONMENTS | batch(2) -%}
{%   for target in targets -%}
{{     pipeline_tasks( compiler, version, target ) }}
{%   endfor -%}
{% endfor -%}
