{%- set projectName   = 'mesh_tools' %}
{%- set projectDir    = 'mesh_tools' %}
{%- set miniappFlag   = False %}
{%- set fix_enums     = False %}
{%- set rdef_default  = "64" %}
{%- set MAXRUNAHEAD     = 1 %}

{%- set projectApps = ['mesh'] %}

{# Set the  compiler debug profile for runs in this suite #}
{# Options are ['fast-debug'|'full-debug'|'production'], omission defaults to 'fast-debug' #}
{%- set run_application_profile = '' %}

{%- set groups = {'developer': ['validate_rose_meta_graph("mesh_tools",appName="mesh")',
                                'check_style_graph()',
                                'check_compilers("fast-debug", publish=True)'],
                  'nightly'  : ['check_compilers("full-debug", publish=True)',
                                'publish_commit'] } %}

{%- set mesh_types = ['cubedsphere',
                      'cubedsphere_maps',
                      'cubedsphere_c1',
                      'cubedsphere_c2',
                      'cubedsphere_c3',
                      'planar_maps',
                      'cubedsphere_rotated',
                      'planar_biperiodic',
                      'planar_non_periodic',
                      'planar_trench_x',
                      'planar_trench_y',
                      'lam'] %}
