#!jinja2

%include inc/common_macros.rc
%include inc/suite_macros.rc
%include suite_control.rc

{# SETUP SOME JINJA2 VARIABLES #}
{%- set build_profiles = ['fast-debug', 'full-debug', 'production'] %}
{%- set hosts_dictionary = {} %}
{%- set rose_suite_gui_headers = [] %}
{%- set rdef_build_precisions = []  %}

{%- set compiler_setup = {} %}
{%- for compiler, setup in TARGET_COMPILER_SETUP|batch(2) %}
{%-   do compiler_setup.update({compiler : [setup]}) %}
{%- endfor %}


{#- #########################################################################}

{%- if RUN_NAMES is defined %}
{%-   if RUN_NAMES is string %}
{%-     set groupsToRun = [RUN_NAMES] %}
{%-     set publishGroup = RUN_NAMES %}
{%-   else %}
{%-     set groupsToRun = RUN_NAMES %}
{%-     set publishGroup = RUN_NAMES|join(",") %}
{%-   endif %}
{%- else %}
{%-   set groupsToRun = ['developer'] %}
{%-   set publishGroup = 'developer' %}
{%- endif %}

{%- if miniappFlag == True %}
{%-   set appPathFragment = 'miniapps/' %}
{%- else  %}
{%-   set appPathFragment = '' %}
{%- endif %}

{{set_hosts_dictionary()}}

[cylc]
  UTC mode = True
  [[events]]
    mail events = timeout
    abort on timeout = True
{%- if 'nightly' in groupsToRun %}
    abort on stalled = True
{%- endif %}
    timeout = PT3H

[scheduling]
  cycling mode        = integer
  initial cycle point = 1
  final cycle point   = 1
  max active cycle points = {{MAXRUNAHEAD}}

  [[queues]]
    [[[host_throttle]]]
      limit = {{TARGET_THROTTLE}}
      members = root
    [[dependencies]]
{%- set scheduledTasks = schedule() | deduplicate_schedule() %}
      {{scheduledTasks}}

[runtime]
  [[root]]
    init-script = """
                  export CYLC_VERSION={{CYLC_VERSION}}
                  export ROSE_VERSION={{ROSE_VERSION}}
                  """
    script = rose task-run
    [[[events]]]
{%- if TROUBLE_MAIL_ADDRESS is defined %}
      mail to = {{TROUBLE_MAIL_ADDRESS}}
      mail events = submission timeout, submission failed, timeout, failed, execution timeout
{%- endif %}
      submission timeout = PT12H
      execution timeout  =  PT3H
    [[[environment]]]
      SOURCE_ROOT = $CYLC_SUITE_SHARE_DIR/source
      OUTPUT_ROOT = $CYLC_SUITE_SHARE_DIR/output
      PYTHONPATH  = $CYLC_SUITE_RUN_DIR/lib/python
      PATH        = $PATH:$PYTHONPATH/bin
{# Set up Families for platform properties.                #}
{# These would be platforms specific to a site, i.e. meto  #}
{# Could be brought in from include file specific to site. #}

  [[METO-SPICE]]
    [[[environment]]]
      OMP_NUM_THREADS = 1
      HYPERTHREADS    = 1
      CORES_PER_NODE  = 1
      NUMA_REGIONS_PER_NODE = 0

  [[METO-XC]]
    [[[environment]]]
      HYPERTHREADS    = 1
      CORES_PER_NODE  = 36
      NUMA_REGIONS_PER_NODE = 2

  [[METO-XC40]]
    inherit = METO-XC

  [[METO-XCS]]
    inherit = METO-XC

  [[MONSOON-XCS]]
    inherit = METO-XC

  [[ LOCAL ]]
    [[[remote]]]
      host = {{ ROSE_ORIG_HOST }}
    [[[job]]]
      batch system = background

  [[TARGET]]
    inherit = {{TARGET_OPT|upper}}
    [[[remote]]]
      host = {{TARGET_HOST}}
    [[[job]]]
      batch system = {{TARGET_BATCHER}}



{# PRELIMINARIES #}
##############################################################################

{%- if 'PRELIMINARIES' not in rose_suite_gui_headers %}
{%-   do rose_suite_gui_headers.append('PRELIMINARIES') %}
    [[PRELIMINARIES]]
{%- endif %}

{%- if 'export_source' in scheduledTasks %}
    [[export_source]]
      inherit = PRELIMINARIES, LOCAL
      script  = """
                mkdir -p `dirname $SOURCE_ROOT`
                svn export --force {{SOURCE_LFRIC}} $SOURCE_ROOT

                HOST={{TARGET_HOST}}
                RELATIVE_SOURCE_DIRECTORY=`echo $SOURCE_DIRECTORY | sed "s|$HOME/||"`
                ssh $HOST mkdir -p $RELATIVE_SOURCE_DIRECTORY
                rsync -avz $SOURCE_DIRECTORY/ $HOST:$RELATIVE_SOURCE_DIRECTORY/
                sleep 5
                """

    [[[environment]]]
      SOURCE_DIRECTORY = $SOURCE_ROOT

{%- endif %}

##############################################################################

  [[TECHNICAL]]
    [[[environment]]]
      SOURCE_DIRECTORY = $SOURCE_ROOT/{{projectName}}

{{validate_rose_meta_task(projectName, 'LOCAL')}}
{{check_style_task('LOCAL')}}

# Run locally as they need workstation tools such as Doxygen, Inkscape
{{api_documentation_task('LOCAL')}}
{{uml_documentation_task('LOCAL')}}
{{design_documentation_task('LOCAL')}}

{{processnode_task()}}

{# PUBLISH #}
##############################################################################

{%- set publish_destination = '$CYLC_SUITE_SHARE_DIR/publish-' + projectName + '-' + publishGroup + '-' + TARGET_OPT %}
  [[PUBLISH]]
    [[[environment]]]
      DESTINATION = {{publish_destination}}

{%- if 'publish_index' in scheduledTasks %}
  [[publish_index]]
    inherit = PUBLISH, LOCAL
    script = rose task-run --app-key=publish --command-key=index

    [[[environment]]]
{%-   if ROSE_BUSH_URL %}
      ROSE_BUSH_ARG = -bush {{ROSE_BUSH_URL}}
{%-   endif %}
{%- endif %}

{%- if 'mirror_results_local' in scheduledTasks %}
  [[mirror_results_local]]
    inherit = PUBLISH, LOCAL
    pre-script = """
                 {{'\n'|command_list(LOCAL_BASE_SETUP,
                                     LOCAL_TECHNICAL_SETUP,
                                     LOCAL_REVEAL_SETUP)}}
                 """
    script = rose task-run --app-key=publish_mirror

    [[[environment]]]
      REWRITE = ''
      SOURCE  = {{publish_destination}}
      TARGET  = file://$HOME/public_html/lfric-{{projectName}}-{{TARGET_OPT}}-{{publishGroup}}
{%- endif %}

{%- if 'mirror_results_remote' in scheduledTasks %}
  [[mirror_results_remote]]
    inherit = PUBLISH, LOCAL
    pre-script = """
                 {{'\n'|command_list(LOCAL_BASE_SETUP,
                                     LOCAL_TECHNICAL_SETUP,
                                     LOCAL_REVEAL_SETUP)}}
                 """
    script = rose task-run --app-key=publish_mirror

    [[[environment]]]
      REWRITE = {{MIRROR_REWRITE}}
      SOURCE  = {{publish_destination}}
      TARGET  = {{MIRROR_UPLOAD_URL}}lfric-{{projectName}}-{{TARGET_OPT}}-{{publishGroup}}
{%- endif %}

##############################################################################

{%- for compiler in compiler_setup.keys() -%}
{%-   for build in build_profiles %}
{%-     for precision in rdef_build_precisions %}
{%-       set label = compiler | lower + '_' + precision + '-bit_' + build | lower %}
{%-       set family = label | upper %}

{%-       if 'export_source' in scheduledTasks %}
{%-         if family not in rose_suite_gui_headers %}
{%-           do rose_suite_gui_headers.append(family) %}

  [[{{family}}]]
    [[[environment]]]
      SOURCE_DIRECTORY      = $SOURCE_ROOT/{{projectName}}
      DESTINATION_DIRECTORY = $OUTPUT_ROOT/{{label}}
      BIN_DIR               = $DESTINATION_DIRECTORY/bin
      COMPILER              = {{compiler}}
      TARGET_OPT            = {{TARGET_OPT}}
      {#- We can't define WORKING_DIR here as it may contain    #}
      {#- target specific variables not existing on the local machine #}
{%-         endif %}
{%-       endif %}

{%-       if 'compile_' + projectName + '_with_' + label in scheduledTasks %}
  [[compile_{{projectName}}_with_{{label}}]]
    inherit = {{family}}, TARGET
    pre-script = """
                 {{'\n'|command_list(TARGET_BASE_SETUP,
                                    compiler_setup[compiler],
                                    TARGET_BUILD_SETUP,
                                    TARGET_REVEAL_SETUP,
                                    deleteDirectory("$WORKING_DIR"))}}
                 """
    script      = rose task-run --app-key=compile
    post-script = """
                  {{deleteDirectory("$WORKING_DIR")}}
                  # Future publisher stages need this information
                  echo $CYLC_TASK_LOG_ROOT > $DESTINATION_DIRECTORY/lfric.mesher.{{compiler}}.log
                  """

    [[[environment]]]
      SOURCE_DIRECTORY      = $SOURCE_ROOT/{{projectName}}
      WORKING_DIR           = {{TARGET_BUILD_ROOT}}/{{label}}/mesh_tools
      BUILD_TARGET          = {{build}}
      LFRIC_TARGET_PLATFORM = {{TARGET_OPT}}
      PROFILE               = {{build}}
      TARGET                = build
      MAKE_THREADS          = 4
      RDEF_PRECISION        = {{precision}}
{%-         if fix_enums %}
      FIX_ENUMS             = 1
{%-         endif %}

    [[[directives]]]
{%-         for DIRECTIVE in TARGET_BUILD_BATCHER_DIRECTIVES %}
      {{DIRECTIVE}}
{%-         endfor %}
{%-       endif %} {#- if 'compile_'+ projectName + '_with_' + label in scheduledTasks #}

{%-       if 'publish_' + label + '_compile' in scheduledTasks %}
  [[publish_{{label}}_compile]]
      inherit = PUBLISH, {{family}}, LOCAL
      pre-script = """
                   {{ensureDestination()}}
                   """
      script = rose task-run --app-key=publish_compile
      [[[environment]]]
          HOST={{TARGET_HOST}}
          CONTEXT  = {{build}}
          DIR_FILE=lfric.mesher.{{compiler}}.log
      [[[job]]]
          execution retry delays = PT5S, 10*PT1M
{%-       endif %} {#- if 'publish_' + label + '_compile' in scheduledTasks #}

{%-       if 'unit_test_with_' + label in scheduledTasks %}
  [[unit_test_with_{{label}}]]
    inherit = {{family}}, TARGET
    pre-script  = """
                  {{'\n'|command_list( TARGET_BASE_SETUP,
                                      compiler_setup[compiler],
                                      TARGET_BUILD_SETUP,
                                      TARGET_REVEAL_SETUP)}}
                  """
    script      = """
                  UNIT_TESTS=''
                  if [[ -d $SOURCE_DIRECTORY/unit-test ]] ; then
                    UNIT_TESTS=`find $SOURCE_DIRECTORY/unit-test -name *test.pf`
                  fi
                  if [[ "${UNIT_TESTS}" != "" ]] ; then
                    rose task-run --app-key=compile
                  else
                    echo 'No unit-tests to process'
                  fi
                  """
    post-script = """
                  {{'\n'|command_list( deleteDirectory('$WORKING_DIR') )}}
                  """
    [[[environment]]]
      SOURCE_DIRECTORY = $SOURCE_ROOT/{{appPathFragment}}{{projectName}}
      WORKING_DIR      = {{TARGET_BUILD_ROOT}}/{{label}}/unit-test
      TARGET           = unit-tests
      PROFILE          = {{build}}
      MAKE_THREADS     = 6
      RDEF_PRECISION   = {{precision}}
{%-         if fix_enums %}
      FIX_ENUMS        = 1
{%-         endif %}
    [[[directives]]]
{%-         for DIRECTIVE in TARGET_BUILD_BATCHER_DIRECTIVES %}
      {{DIRECTIVE}}
{%-         endfor %}

{%-       endif %} {#- 'unit_test_with_' + label in scheduledTasks #}

{%-       for mesh in mesh_types %}
{%-         if 'generate_' + mesh + '_' + label in scheduledTasks %}
  [[{{mesh|upper}}_{{label|upper}}]]
    inherit = {{family}}, TARGET

  [[generate_{{mesh}}_{{label}}]]
    inherit = {{mesh|upper}}_{{label|upper}}
    pre-script = """
                 mkdir -p $DESTINATION_DIRECTORY/meshes
                 {{'\n'| command_list( TARGET_BASE_SETUP,
                                       compiler_setup[compiler],
                                       TARGET_RUN_SETUP,
                                       TARGET_REVEAL_SETUP )}}
                 """
    script = "rose task-run --app-key=mesh --opt-conf-key={{mesh}}"
    [[[environment]]]
      OUTPUT_FILE = $DESTINATION_DIRECTORY/meshes/{{mesh}}.nc

    [[[directives]]]
{%-           for DIRECTIVE in TARGET_RUN_BATCHER_DIRECTIVES %}
      {{DIRECTIVE}}
{%-           endfor %}
{%-         endif %} {#- 'generate_' + mesh + '_' + label in scheduledTasks #}

{%-         if 'summarise_' + mesh + '_' + label in scheduledTasks %}
{%-           set command_key = '' %}
{%-           if TARGET_OPT == 'meto-xc40' %}
{%-             set command_key = '--command-key=aprun' %}
{%-           endif %}

  [[summarise_{{mesh}}_{{label}}]]
    inherit = {{mesh|upper}}_{{label|upper}}
    pre-script = """
                 {{'\n'|command_list( TARGET_BASE_SETUP,
                                     compiler_setup[compiler],
                                     TARGET_RUN_SETUP,
                                     TARGET_REVEAL_SETUP )}}
                 """
    script = rose task-run --app-key=summarise_ugrid {{command_key}}

    post-script = """
                  cat $SUMMARY_FILE

                  """

    [[[environment]]]
      MESH_FILE    = $DESTINATION_DIRECTORY/meshes/{{mesh}}.nc
      SUMMARY_FILE = $DESTINATION_DIRECTORY/summary_{{mesh}}_ugrid.txt

    [[[directives]]]

{%-           if TARGET_OPT == 'meto-xc40' %}
      -l select=1
      -l walltime=00:05:00
      -q=normal
{%-           else %}
{%-             for DIRECTIVE in TARGET_RUN_BATCHER_DIRECTIVES %}
      {{DIRECTIVE}}
{%-             endfor %}
{%-           endif %}

  [[check_summary_{{mesh}}_{{label}}]]
    inherit = {{mesh|upper}}_{{label|upper}}
    pre-script = """
                 {{'\n'|command_list( TARGET_BASE_SETUP,
                                     compiler_setup[compiler],
                                     TARGET_REVEAL_SETUP )}}
                 sed -e 's/.*INFO : //' -e 's/===*//'      \
                     -e '/File.*contains ugrid mesh(es)/d' \
                     -e '/^\s*Application.*resources/d'    \
                     -e '/^\s*$/d'                         \
                     <$SUMMARY_FILE >${SUMMARY_FILE}.stripped
                 """
    script = rose task-run --app-key=check_summary

    [[[environment]]]
      SUMMARY_KGO  = summary_{{mesh}}_ugrid.kgo.txt
      SUMMARY_FILE = $DESTINATION_DIRECTORY/summary_{{mesh}}_ugrid.txt

    [[[directives]]]
{%-           for DIRECTIVE in TARGET_TECHNICAL_BATCHER_DIRECTIVES %}
      {{DIRECTIVE}}
{%-           endfor %}

{%-         endif %} {#- 'summarise_' + mesh + '_' + label in scheduledTasks #}

{%-         if 'check_mesh_' + mesh + '_' + label in scheduledTasks %}
  [[check_mesh_{{mesh}}_{{label}}]]
    inherit = {{mesh|upper}}_{{label|upper}}
    pre-script = """
                 {{'\n'| command_list(TARGET_BASE_SETUP,
                         compiler_setup[compiler],
                         TARGET_REVEAL_SETUP)}}
                 """
    script = rose task-run --app-key=check_mesh_kgo

    [[[environment]]]
      APP_NAME   = mesh
      KGO_DIR    = $SOURCE_ROOT/{{projectName}}/kgos
      TARGET_OPT = {{TARGET_OPT}}
      CONFIG     = {{mesh}}
      MESH_DIR   = $DESTINATION_DIRECTORY/meshes
      MESH_FILE  = {{mesh}}.nc

    [[[directives]]]
{%-           for DIRECTIVE in TARGET_TECHNICAL_BATCHER_DIRECTIVES %}
      {{DIRECTIVE}}
{%-           endfor %}
{%-         endif %} {#- 'check_mesh_' + mesh + '_' + label in scheduledTasks #}
{%-       endfor %} {#- mesh in mesh_type #}

{%-     endfor %}  {# precision #}
{%-   endfor %}  {# build #}
{%- endfor %}  {# compiler #}

{{null_tasks()}}
