{%- set row    = "'row'" %}
{%- set column = "'column'" %}
{%- set auto   = "'auto'" %}
{%- set custom = "'custom'" %}

{%- set projectName = 'gravity_wave' %}
{%- set projectDir  = 'gravity_wave' %}
{%- set miniappFlag = True %}
{%- set fix_enums   = False %}

{# Default setting to enable xios for all tasks in this suite. Is overrided if #}
{# 'use_xios' ["True"|"False"] is specified in the specific task directives    #}
{%- set default_use_xios = "False" %}

{# Default number of mpi ranks to be used by the xios server if unspecified    #}
{# directly in suite.rc task. Although it is set, it should only have any      #}
{# impact if xios is being used, i.e. if xios_nodes > 0. These aren't the most #}
{# intuitive variable names as they're using the existing naming convention    #}
{# They should be changed at a later date to be something more intuitive.      #}
{%- set default_mpi_parts_xios = 0 %}

{# Set the compiler debug profile for runs in this suite #}
{# Options are ['fast-debug'|'full-debug'|'production'], #}
{# omission defaults to 'fast-debug'                     #}
{%- set run_application_profile = '' %}

{%- set appDiagStemName = 'diagGravityWave' %}
{%- set rdef_default    = "64" %}
{%- set mesh_rdef       = "64" %}
{%- set mesh_build      = "fast-debug" %}
{%- set MAXRUNAHEAD     = 1 %}

{%- set application_configurations = { 'gravity_wave' : ['multigrid_on',
                                                         'multigrid_off',
                                                         'default'] } %}

{%- set canned_configurations  = ['gravity_wave'] %}

{%- set groups = {
'developer': [
    'validate_rose_meta_graph("gravity_wave")',
    'check_style_graph()',
    'api_documentation_graph(publish=True)',
    'run_application("gravity_wave", "default", resolutions=[("C24",100.0)],
                     env={"nrun":36},
                     plotstr="slices.py ' + appDiagStemName + ' $NODAL_DATA_DIR buoyancy T000036 150 0 6 $PLOT_DIR")',
    'canned_test("gravity_wave")',
    'check_compilers("gravity_wave", "default", "fast-debug",
                     resolution=("C24",100.0), publish=True)',
    'check_compilers("gravity_wave", "default", "full-debug",
                     resolution=("C24",100.0), publish=True)' ],
'nightly': [
    'null_task_graph()' ] } %}

#########################################################################################
