{%- set projectName = 'gungho' %}
{%- set projectDir  = 'gungho' %}
{%- set miniappFlag = False %}

{%- set application_configurations = { 'gungho'           : [ 'runge-kutta', 'semi-implicit',
                                                              'transport-rk', 'transport-biperiodic',
                                                              'biperiodic_p0_gw', 'biperiodic_p1_gw',
                                                              'biperiodic_p0_gw_fem',
                                                              'agnesi_orog_cartesian', 'agnesi_orog_cartesian_long',
                                                              'dcmip301', 'robert', 'robert10m', 'robert5m', 'dcmip200',
                                                              'warm3dbubble', 'warm3dbubble_small',
                                                              'robert-moist', 'robert-moist-smag', 'sbr', 'sbr_deep', 'sbr_shallow',
                                                              'sbr_spinupwinds', 'sbr_spinupalpha',
                                                              'straka_x', 'straka_y', 'straka_y_ugrid',
                                                              'straka_200m', 'straka_100m', 'straka_50m', 'straka_25m', 
                                                              'biperiodic-cosmic','yz_biperiodic_cosmic',
                                                              'hs', 'hs_short', 'cosine_hill_45deg',
                                                              'divergence_cosmic', 'northpole_cosine_hill',
                                                              'equator_cosine_hill', 'corner_cosine_hill',
                                                              'baroclinic', 'static_isentropic_x', 'static_isentropic_y',
                                                              'static_isothermal_x', 'static_isothermal_y', 'static_isothermal_x_long',
                                                              'agnesi_hyd_cart', 'agnesi_nhyd_cart', 'schar3d_cart_8s',
                                                              'schar_cart_8s', 'schar_cart_40s', 'hadley_like_dcmip',
                                                              'default' ] } %}

{%- set canned_configurations  = ['gungho'] %}

{%- set groups = {
'developer': [
    'run_application( gungho, agnesi_orog_cartesian,  resolutions=[("BiP40x4-100x100",3.0)] )',
    'run_application( gungho, baroclinic,             resolutions=[("C24",1800.0)],
                      env={"crun":1, "nrun":48,
                           "directives":{"default":{"mpi_parts":6,"threads":1,"wallclock":"00:15:00"} } },
                      plotstr="baroclinic.py diagDynamo $NODAL_DATA_DIR theta:rho:exner:w3projection_u1:w3projection_u2:w3projection_u3:w3projection_xi1:w3projection_xi2:w3projection_xi3 T000048 $PLOT_DIR 1" )',
    'run_application( gungho, biperiodic_p0_gw,       resolutions=[("BiP300x4-1000x2000",10.0)],
                      plotstr="gw_cart_plot.py $NODAL_DATA_DIR 300 4 theta T000000:T000100:T000200:T000300 $PLOT_DIR" )',
    'run_application( gungho, biperiodic_p1_gw,       resolutions=[("BiP75x4-4000x2000",10.0)],
                      env={"crun":1, "nrun":300,
                           "directives":{"default":{"mpi_parts":3,"threads":2,"wallclock":"00:20:00"} } },
                      plotstr="gw_high_order_cart_plot.py $NODAL_DATA_DIR 150 8 theta T000000:T000100:T000200:T000300 $PLOT_DIR" )',
    'run_application( gungho, cosine_hill_45deg,
                      resolutions=[("C32",4050.0)],
                      plotstr="slices.py diagDynamo $NODAL_DATA_DIR rho T000000:T000032:T000064:T000096:T000128:T000160:T000192:T000224:T000256 -1 -91 0 $PLOT_DIR" )',
    'run_application( gungho, dcmip200,               resolutions=[("C12",600.0)],
                                                                   env={"crun":1, "nrun":3, "directives":{"default":{"mpi_parts":18,"threads":1,"wallclock":"00:15:00"} } })',
    'run_application( gungho, runge-kutta,            resolutions=[("C12",1.0)], env={"nrun":30} )',
    'run_application( gungho, semi-implicit,          resolutions=[("C12",10.0)], env={"nrun":3} )',
    'run_application( gungho, static_isentropic_x,    resolutions=[("BiP4x4-600x400",10.0)], env={"nrun":10},
                      plotstr="dofs.py diagDynamo $NODAL_DATA_DIR w3projection_u1:w3projection_u2:w3projection_u3 T000000:T000010 $PLOT_DIR")',
    'run_application( gungho, static_isentropic_y,    resolutions=[("BiP4x4-600x400",10.0)], env={"nrun":10},
                      plotstr="dofs.py diagDynamo $NODAL_DATA_DIR w3projection_u1:w3projection_u2:w3projection_u3 T000000:T000010 $PLOT_DIR")',
    'run_application( gungho, static_isothermal_x,    resolutions=[("BiP4x4-600x400",10.0)], env={"nrun":10},
                      plotstr="dofs.py diagDynamo $NODAL_DATA_DIR w3projection_u1:w3projection_u2:w3projection_u3 T000000:T000010 $PLOT_DIR")',
    'run_application( gungho, static_isothermal_y,    resolutions=[("BiP4x4-600x400",10.0)], env={"nrun":10},
                      plotstr="dofs.py diagDynamo $NODAL_DATA_DIR w3projection_u1:w3projection_u2:w3projection_u3 T000000:T000010 $PLOT_DIR")',
    'run_application( gungho, straka_y,               resolutions=[("BiP4x128-400x400",10.0)],
                      plotstr="straka_plot_y.py $NODAL_DATA_DIR 4 128 theta T000090 $PLOT_DIR" )',
    'run_application( gungho, straka_y_ugrid,
                      resolutions=[("BiP4x128-400x400",10.0)],
                      env={"directives":{"default":{"mpi_parts":4,
                                                    "threads":1,
                                                    "xios_nodes":1,
                                                    "wallclock":"00:15:00"} } },
                      checkkgo=False,
                      plotstr="straka_plot_y_ugrid.py $NODAL_DATA_DIR/lfric_diag.nc 4 128 air_potential_temperature T90 $PLOT_DIR")',
    'run_application( gungho, straka_200m,            resolutions=[("BiP256x4-200x200",5.0)],
                      env={"crun":1, "nrun":180, "directives":{"default":{"mpi_parts":8,"threads":1,"wallclock":"02:00:00"} } },
                      plotstr="straka_plot_x.py $NODAL_DATA_DIR 256 4 theta T000180 $PLOT_DIR" )',
    'run_application( gungho, straka_x,               resolutions=[("BiP128x4-400x400",10.0)],
                      plotstr="straka_plot_x.py $NODAL_DATA_DIR 128 4 theta T000090 $PLOT_DIR" )',
    'run_application( gungho, yz_biperiodic_cosmic,   resolutions=[("BiP4x100-2x2",1.0)], env={"nrun":120,
                      "directives":{"default":{"mpi_parts":1,"threads":1,"xios_nodes":1,"wallclock":"00:15:00"}}},
                      plotstr="slices.py diagDynamo $NODAL_DATA_DIR rho T000000:T000030:T000060:T000090:T000120 0 -100 -100 $PLOT_DIR" )',
    'run_application( gungho, transport-biperiodic,   resolutions=[("BiP40x40-5x5",1.0)],
                      plotstr="biperiodic-cosmic_plot.py $NODAL_DATA_DIR 40 40 rho T000000:T000020:T000040:T000060:T000080:T000100 $PLOT_DIR" )',
    'run_application( gungho, transport-rk,           resolutions=[("C12",7200.0)] )',
    'run_application( gungho, robert,                 resolutions=[("BiP50x4-20x20",2.5)], env={"crun":3, "nrun":144},
                      plotstr="robert_plot.py $NODAL_DATA_DIR 50 4 theta:w3projection_xi2 T000000:T000288:T000432 $PLOT_DIR")',
    'run_application( gungho, robert-moist,           resolutions=[("BiP50x4-20x20",2.5)], env={"crun":3, "nrun":144}, 
                      plotstr="robert_plot.py $NODAL_DATA_DIR 50 4 theta:w3projection_xi2:m_v T000000:T000288:T000432 $PLOT_DIR")',
    'run_application( gungho, robert-moist-smag,      resolutions=[("BiP50x4-20x20",2.5)], env={"crun":3, "nrun":144}, 
                      plotstr="robert_plot.py $NODAL_DATA_DIR 50 4 theta:w3projection_xi2:m_v T000000:T000288:T000432 $PLOT_DIR")',
    'run_application( gungho, hs_short,          resolutions=[("C24",600.0,900.0)],
                      env={"crun":3,
                           "nrun":{("C24",600.0):15,
                                   ("C24",900.0):10},
                           "directives":{"default":{"mpi_parts":6,"threads":1,"xios_nodes":1,"wallclock":"00:05:00"}}},
                      plotstr="plot_zonal.py $NODAL_DATA_DIR/lfric_averages.nc $PLOT_DIR")',
    'check_compilers( gungho, semi-implicit, fast-debug,
                      resolutions=[("C12",10.0)], publish=True )',
    'canned_test(gungho)',
    'godliness( publish=True )',
    'cleanliness'],
'nightly': [
    'run_application( gungho, agnesi_orog_cartesian_long,  resolutions=[("BiP180x4-800x800", 10.0)],
                      env={"crun":1, "nrun":100,
                           "directives":{"default":{"mpi_parts":18,"threads":1,"wallclock":"00:40:00"} } }, 
                      plotstr="cartesian_mountain_plot.py $NODAL_DATA_DIR u 3 T000100 2 2 nhmw zoom_1 lines $PLOT_DIR",
                      publish=True )',
    'run_application( gungho, biperiodic-cosmic,      resolutions=[("BiP200x200-5x5",1.0)],
                      plotstr="biperiodic-cosmic_plot.py $NODAL_DATA_DIR 200 200 rho T000000:T000500 $PLOT_DIR",
                      publish=True )',
    'run_application( gungho, biperiodic_p0_gw_fem,   resolutions=[("BiP300x4-1000x2000",10.0)],
                      plotstr="gw_cart_plot.py $NODAL_DATA_DIR 300 4 theta T000000:T000100:T000200:T000300 $PLOT_DIR",
                      publish=True )',
    'run_application( gungho, dcmip301,               resolutions=[("C24",10.0)],
                      plotstr="dcmip301.py $NODAL_DATA_DIR theta T000180:T000252:T000324:T000360 $PLOT_DIR",
                      publish=True )',
    'run_application( gungho, hadley_like_dcmip,      resolutions=[("C48",300.0)],
                      env={"crun":1, "nrun":288,
                           "directives":{"default":{"mpi_parts":12,"threads":1,"wallclock":"00:40:00"} } }, 
                      plotstr="slices.py diagDynamo $NODAL_DATA_DIR rho T000000:T000072:T000144:T000216:T000288 45 -1000 -1000 $PLOT_DIR",
                      publish=True )',
    'run_application( gungho, divergence_cosmic,      resolutions=[("C32",1.0)],
                      plotstr="slices.py diagDynamo $NODAL_DATA_DIR rho T000000:T000050:T000100:T000150:T000200:T000250:T000300:T000350:T000400:T000450:T000500 -1 -91 0 $PLOT_DIR",
                      publish=True )',
    'run_application( gungho, equator_cosine_hill,      resolutions=[("C48",4050.0)],
                      env={"crun":1, "nrun":256,
                           "directives":{"default":{"mpi_parts":12,"threads":1,"wallclock":"00:05:00"} } },
                      plotstr="slices.py diagDynamo $NODAL_DATA_DIR rho T000000:T000064:T000128:T000192:T000256 -1 -91 0 $PLOT_DIR",
                      publish=True )',
    'run_application( gungho, sbr,                    resolutions=[("C24",1800.0)], env={"nrun":60},
                      plotstr="slices.py diagDynamo $NODAL_DATA_DIR theta:rho:w3projection_u1:w3projection_u2:w3projection_u3 T000060 180 50 15 $PLOT_DIR",
                      publish=True )',
    'run_application( gungho, semi-implicit,          resolutions=[("C12",10.0)], env={"nrun":3},
                      publish=True )',
    'run_application( gungho, static_isothermal_x_long,    resolutions=[("BiP4x4-600x400",10.0)], env={"nrun":2000},
                      plotstr="time_series_max.py $NODAL_DATA_DIR $PLOT_DIR 0 1" )',
    'run_application( gungho, warm3dbubble_small,     resolutions=[("BiP40x40-80x80",5.0)], env={"crun":1, "nrun":96,
                              "directives":{"default":{"mpi_parts":16,"threads":1,"wallclock":"00:30:00"} } },
                      plotstr="warm3dbubble.py $NODAL_DATA_DIR 40 40 theta T000000:T000048:T000096 $PLOT_DIR",
                      publish=True )',
    'check_compilers( gungho, semi-implicit, full-debug, resolutions=[("C12",10.0)],
                      publish=True )',
    'godliness(publish=True)',
    'publish_commit'],
'weekly':[
            'run_application( gungho, robert10m, resolutions=[("BiP100x4-10x10",1.25)],checkkgo=False,
                              env={"crun":1, "nrun":432,
                                   "directives":{"default":{"mpi_parts":10,"threads":1,"wallclock":"01:30:00"} } },
                              plotstr="robert_plot.py $NODAL_DATA_DIR 100 4 theta:w3projection_xi2 T000000:T000576:T000864 $PLOT_DIR",
                              publish=True )',
            'run_application( gungho, robert5m, resolutions=[("BiP200x4-5x5",0.625)],checkkgo=False,
                              env={"crun":8, "nrun":216,
                                   "directives":{"default":{"mpi_parts":20,"threads":1,"wallclock":"01:30:00"} } },
                              plotstr="robert_plot.py $NODAL_DATA_DIR 200 4 theta:w3projection_xi2 T000000:T001152:T001728 $PLOT_DIR",
                              publish=True )',
            'run_application( gungho, baroclinic, resolutions=[("C48",1800.0),("C96",900.0)],checkkgo=False,
                              env={"crun":10,
                                   "nrun":{"default":96, ("C48",1800.0):48},"directives":
                                                    {"C48":{"mpi_parts":24,
                                                            "threads":1,
                                                            "wallclock":"01:30:00"},
                                                     "C96":{"mpi_parts":96,
                                                            "threads":1,
                                                             "wallclock":"01:30:00"} }
                                  },
                              plotstr="baroclinic.py diagDynamo $NODAL_DATA_DIR theta:exner:w3projection_u1:w3projection_u2:w3projection_u3 T000384:T000480:T000768:T000960 $PLOT_DIR 1",
                              publish=True )',
            'run_application( gungho, hs, resolutions=[("C24",600.0),("C48",600.0)],checkkgo=False,
                              env={"crun":10, "nrun": {"default":1440,},
                                   "directives":{"default":{"mpi_parts":144,
                                                            "threads":1,
                                                            "wallclock":"01:30:00",
                                                            "xios_nodes":1,},
                                                            "C48":{"mpi_parts":576,
                                                                   "threads":1,
                                                                   "wallclock":"01:30:00",
                                                                   "xios_nodes":1,}
                                                }
                                  },
                              plotstr="plot_zonal.py $NODAL_DATA_DIR/lfric_averages.nc $PLOT_DIR",
                              publish=True )',
            'run_application( gungho, straka_50m, resolutions=[("BiP1024x4-50x50",1.25)],checkkgo=False,
                              env={"crun":1, "nrun":720,
                                   "directives":{"default":{"mpi_parts":128,"threads":1,"wallclock":"01:30:00"} } },
                              plotstr="straka_plot_x.py $NODAL_DATA_DIR 1024 4 theta T000720 $PLOT_DIR",
                              publish=True )',
            'run_application( gungho, straka_25m, resolutions=[("BiP2048x4-25x25",0.625)],checkkgo=False,
                              env={"crun":2, "nrun":720,
                                   "directives":{"default":{"mpi_parts":256,"threads":1,"wallclock":"01:30:00"} } },
                              plotstr="straka_plot_x.py $NODAL_DATA_DIR 2048 4 theta T001440 $PLOT_DIR",
                              publish=True )',
            'publish_commit']
                 }
%}

{# The csar groups are now included in the following #}
%include inc/csar.rc
{%- do groups.update(csar_groups) %}
%include inc/cosmic.rc
{%- do groups.update(cosmic_groups) %}
%include inc/cartesian.rc
{%- do groups.update(cartesian_groups) %}

#########################################################################################
