{%- set row    = "'row'" %}
{%- set column = "'column'" %}
{%- set auto   = "'auto'" %}
{%- set custom = "'custom'" %}

{%- set projectName = 'lfric_atm' %}
{%- set projectDir  = 'lfric_atm' %}
{%- set miniappFlag = False %}

{%- set projectApps = ['lfric_atm'] %}

{# Default setting to enable xios for all tasks in this suite. Is overrided if #}
{# 'use_xios' ["True"|"False"] is specified in the specific task directives    #}
{%- set default_use_xios = "True" %}

{# Default number of mpi ranks to be used by the xios server if unspecified    #}
{# directly in suite.rc task. Although it is set, it should only have any      #}
{# impact if xios is being used, i.e. if xios_nodes > 0. These aren't the most #}
{# intuitive variable names as they're using the existing naming convention    #}
{# They should be changed at a later date to be something more intuitive.      #}
{%- set default_mpi_parts_xios = 0 %}

{# Set the compiler debug profile for runs in this suite #}
{# Options are ['fast-debug'|'full-debug'|'production'], #}
{# omission defaults to 'fast-debug'                     #}
{%- set run_application_profile = '' %}

{%- set appDiagStemName = 'diagLfricAtm' %}
{%- set rdef_default    = "64" %}
{%- set mesh_rdef       = "64" %}
{%- set mesh_build      = "fast-debug" %}
{# basic-gal demo runs may require up to 36 for RUNAHEAD                  #}
{%- set MAXRUNAHEAD     = 36 %}

{#========================================================================#}
{# MPI partitions & Panel decomposition                                   #}
{#========================================================================#}
{# Directive configuration for your task can be controlled                #}
{# using a dictionary, recognised entries are as follows                  #}
{#                                                                        #}
{# "mpi_parts" : Total number of process ranks for the task. Replaces     #}
{#               $TOTAL_RANKS environment variable in the app             #}
{# "panel_decomp" : Decompositon of partitions PER PANEL,                 #}
{#                  options are [auto|row|column|custom]                  #}
{# "xproc", "yproc" : Number of process ranks in x,y directions,          #}
{#                    only in effect if "panel_decomp":auto               #}
{# "use_xios" : Flag to enable/disable xios, [True|False]                 #}
{# "xios_nodes" : Number of extra nodes to reserve for the xios server    #}
{#                xios is used for IO (enabled if >0),                    #}
{# "mpi_parts_xios": Number of mpi ranks to be used by an xios            #}
{#                   server. If >0 xios is used in server mode.           #}
{#                   Has no effect if xios_nodes <1                       #}
{#                                                                        #}
{# NOTE: To enable xios server mode, valid entries are required for       #}
{#       "use_xios", "xios_nodes" and "mpi_parts_xios"                    #}
{#                                                                        #}
{# Example:  run task entry                                               #}
{#  'run_application(                                                     #}
{#        "gungho", "default", resolutions=[("BiP75x4-4000x2000",10.0)],  #}
{#        env={"nrun":10,                                                 #}
{#             "directives":{"default":{"mpi_parts":4,                    #}
{#                                      "panel_decomp":' + column + ',    #}
{#                                      "xproc":2,                        #}
{#                                      "yproc":2,                        #}
{#                                      "use_xios":"True",                #}
{#                                      "xios_nodes":1,                   #}
{#                                      "mpi_parts_xios":2} } } )'        #}
{#========================================================================#}

{%- set canned_configurations = ['lfric_atm'] %}

{%- set groups = {
 'rce': [
    'run_application("lfric_atm", "basic_rce", checkkgo=False,
                     resolutions=[("BiP64x64-100x100_MG",5.0)],
                     env={"crun":12, "nrun":720,
                          "directives":{"default":{"mpi_parts":64,
                                                   "threads":1,
                                                   "wallclock":"00:20:00"} } },
                     plotstr="plot_rce.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")'],

  'developer': [
    'validate_rose_meta_graph("lfric_atm",appName="lfric_atm")',
    'check_style_graph()',
    'check_config_dump_graph()',
    'run_application("lfric_atm", "scm_dry_bl",
                     resolutions=[("BiP4x4-2500x2500",600.0)],
                     env={"crun":1, "nrun":48,
		          "directives":{"default":{"wallclock":"00:05:00"} } },
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "scm_dry_spec_gwd",
                     resolutions=[("BiP4x4-2500x2500",600.0)] ,
                     env={"crun":1, "nrun":48,
		          "directives":{"default":{"wallclock":"00:05:00"} } },
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "scm_dry_orog_drag",
                     resolutions=[("BiP4x4-2500x2500",600.0)] ,
                     env={"crun":1, "nrun":48,
		          "directives":{"default":{"wallclock":"00:05:00"} } },
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "scm_bl",
                     resolutions=[("BiP4x4-2500x2500",600.0)] ,
                     env={"crun":1, "nrun":48,
		          "directives":{"default":{"wallclock":"00:05:00"} } },
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "scm_bl_smith",
                     resolutions=[("BiP4x4-2500x2500",600.0)],
                     env={"crun":1, "nrun":48,
		          "directives":{"default":{"wallclock":"00:05:00"} } },
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "scm_bl_bimodal",
                     resolutions=[("BiP4x4-2500x2500",600.0)] ,
                     env={"crun":1, "nrun":48,
		          "directives":{"default":{"wallclock":"00:05:00"} } },
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "scm_bl_smith_mphys",
                     resolutions=[("BiP4x4-2500x2500",600.0)] ,
                     env={"crun":1, "nrun":48,
		          "directives":{"default":{"wallclock":"00:05:00"} } },
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "scm_bl_pc2_mphys_rad",
                     resolutions=[("BiP4x4-2500x2500",600.0)] ,
                     env={"crun":1, "nrun":48,
		          "directives":{"default":{"wallclock":"00:05:00"} } },
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "scm_bl_rad",
                     resolutions=[("BiP4x4-2500x2500",600.0)] ,
                     env={"crun":1, "nrun":48,
		          "directives":{"default":{"wallclock":"00:05:00"} } },
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "scm_bl_rad_soil",
                     resolutions=[("BiP4x4-2500x2500",600.0)] ,
                     env={"crun":1, "nrun":48,
		          "directives":{"default":{"wallclock":"00:05:00"} } },
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "scm_bl_ice",
                     resolutions=[("BiP4x4-2500x2500",600.0)] ,
                     env={"crun":1, "nrun":48,
		          "directives":{"default":{"wallclock":"00:05:00"} } },
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "scm_bl_land",
                     resolutions=[("BiP4x4-2500x2500",600.0)],
                     env={"crun":1, "nrun": 48,
		          "directives":{"default":{"wallclock":"00:05:00"} } },
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "scm_bl_urban2t",
                     resolutions=[("BiP4x4-2500x2500",600.0)],
                     env={"crun":1, "nrun": 48,
		          "directives":{"default":{"wallclock":"00:05:00"} } },
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "scm_bl_moruses",
                     resolutions=[("BiP4x4-2500x2500",600.0)],
                     env={"crun":1, "nrun": 48,
		          "directives":{"default":{"wallclock":"00:05:00"} } },
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "scm_bl_hyd",
                     resolutions=[("BiP4x4-2500x2500",600.0)] ,
                     env={"crun":1, "nrun":48,
		          "directives":{"default":{"wallclock":"00:05:00"} } },
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "scm_bl_snow",
                     resolutions=[("BiP4x4-2500x2500",600.0)] ,
                     env={"crun":1, "nrun":48,
		          "directives":{"default":{"wallclock":"00:05:00"} } },
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "scm_bl_seaice",
                     resolutions=[("BiP4x4-2500x2500",600.0)],
                     env={"crun":1, "nrun":48,
		          "directives":{"default":{"wallclock":"00:05:00"} } },
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "scm_bl_llcs",
                     resolutions=[("BiP4x4-2500x2500",600.0)] ,
                     env={"crun":1, "nrun":48,
		          "directives":{"default":{"wallclock":"00:05:00"} } },
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "scm_bl_grcs_deep",
                     resolutions=[("BiP4x4-2500x2500",600.0)] ,
                     env={"crun":1, "nrun":48,
		          "directives":{"default":{"wallclock":"00:05:00"} } },
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "scm_bl_pc2_grcs_deep",
                     resolutions=[("BiP4x4-2500x2500",600.0)] ,
                     env={"crun":1, "nrun":48,
		          "directives":{"default":{"wallclock":"00:05:00"} } },
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "scm_bl_smith_grcs_deep",
                     resolutions=[("BiP4x4-2500x2500",600.0)] ,
                     env={"crun":1, "nrun":48,
		          "directives":{"default":{"wallclock":"00:05:00"} } },
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "scm_bl_grcs_shallow",
                     resolutions=[("BiP4x4-2500x2500",600.0)] ,
                     env={"crun":1, "nrun":48,
		          "directives":{"default":{"wallclock":"00:05:00"} } },
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "scm_bl_pc2_grcs_shallow",
                     resolutions=[("BiP4x4-2500x2500",600.0)] ,
                     env={"crun":1, "nrun":48,
		          "directives":{"default":{"wallclock":"00:05:00"} } },
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_with_restart_check("lfric_atm", "scm_aerosol_ukca",2,
                     resolutions=[("BiP4x4-2500x2500",600.0)] ,
                     env={"crun":1, "nrun":48,
		          "directives":{"default":{"wallclock":"00:05:00"} } },
                     plotstr="plot_scm.py -ukca $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_with_restart_check("lfric_atm", "scm_aerosol_ukca_land",2,
                     resolutions=[("BiP4x4-2500x2500",600.0)] ,
                     env={"crun":1, "nrun":48,
		          "directives":{"default":{"wallclock":"00:05:00"} } },
                     plotstr="plot_scm.py -ukca $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "nwp_gal9",
                     resolutions=[("C12",1800.0)],
                     env={"crun":2, "nrun":72,
                          "directives":{"C12":{"mpi_parts":6,
                                               "threads":1,
                                               "wallclock":"00:10:00"},
                                       },
                         },
                     plotstr="plot_map.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR"
                     )',
    'run_with_restart_check("lfric_atm", "nwp_gal9_short", 2,
                            resolutions=[("C12",1800.0)],
                            env={"crun":1, "nrun":2,
                            "directives":{"C12":{"mpi_parts":6,
                                                 "threads":1,
                                                 "wallclock":"00:10:00"},
                                         },
                            }
                           )',
    'run_application("lfric_atm", "nwp_gal9_copy", checkkgo=False,
                     resolutions=[("C12",1800.0)],
                     env={"crun":1, "nrun":4,
                          "directives":{"C12":{"mpi_parts":6,
                                               "threads":1,
                                               "wallclock":"00:10:00"},
                                       },
                         }
                     )',
    'run_application("lfric_atm", "clim_gal9",
                     resolutions=[("C12",1800.0)],
                     env={"crun":2, "nrun":72,
                          "directives":{"C12":{"mpi_parts":6,
                                               "threads":1,
                                               "wallclock":"00:10:00"},
                                       },
                         },
                     plotstr="plot_map.py -encorr $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR"
                     )',
    'run_application("lfric_atm", "small_rce",
                     resolutions=[("BiP64x64-1500x1500_MG",60.0)],
                     env={"crun":1, "nrun":120,
                          "directives":{"default":{"mpi_parts":16,
                                                   "threads":1,
 		                                   "wallclock":"00:15:00"} } },
                     plotstr="plot_rce.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "proto_ral_seuk",
                     resolutions=[("seuk_MG",50.0)],
                     env={"crun":2, "nrun":72,
                          "directives":{"default":{"mpi_parts":16,
                                                   "threads":1,
 		                                   "wallclock":"00:10:00"} } },
 		     plotstr="plot_map.py -ral $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'check_compilers("lfric_atm", "nwp_gal9_copy", "full-debug",
                     resolution=("C12",1800.0))',
    'canned_test("lfric_atm")'
  ],
  'nightly': [
    'run_with_restart_check("lfric_atm", "scm_dry_bl",2,
                     resolutions=[("BiP4x4-2500x2500",600.0)],
                     env={"crun":1, "nrun":48,
		          "directives":{"default":{"wallclock":"00:05:00"} } },
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "nwp_gal9_mg",
                     resolutions=[("C48_MG",1800.0)],
                     env={"crun":1, "nrun":36,
                          "directives":{"C48_MG":{"mpi_parts":24,
                                               "threads":1,
                                               "wallclock":"00:25:00"},
                                       },
                         },
                     plotstr="plot_map.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR"
                     )',
    'run_application("lfric_atm", "nwp_gal9_mg_copy", checkkgo=False,
                     resolutions=[("C48_MG",1800.0)],
                     env={"crun":1, "nrun":4,
                          "directives":{"C48_MG":{"mpi_parts":24,
                                               "threads":1,
                                               "wallclock":"00:25:00"},
                                       },
                         }
                     )',
    'run_application("lfric_atm", "bryan_fritsch-moist",
                     resolutions=[("BiP200x4-100x100",2.0)],
                     env={"crun":1, "nrun":500,
                          "directives":{"default":{"mpi_parts":4,
                                                   "panel_decomp":' + row + ',
                                                   "wallclock":"00:15:00"}}},
                     plotstr="spherical_and_vertical_slice_ugrid_plot.py $NODAL_DATA_DIR/lfric_diag.nc $PLOT_DIR theta_e xz all linear bryan_fritsch"
                    )',
    'run_application("lfric_atm", "grabowski-clark",
                     resolutions=[("BiP180x4-20x20",2.0)],
                     env={"crun":1, "nrun":250,
                          "directives":{"default":{"mpi_parts":4,
                                                   "panel_decomp":' + row + ',
                                                   "wallclock":"00:15:00"}}},
                     plotstr="spherical_and_vertical_slice_ugrid_plot.py $NODAL_DATA_DIR/lfric_diag.nc $PLOT_DIR theta_vd_pert:m_cl xz all linear grabowski_clark"
                    )',
    'run_application("lfric_atm", "aquaplanet",
                     resolutions=[("C12",1800.0)],
                     env={"crun":2, "nrun":12,
                          "directives":{"C12":{"mpi_parts":6,
                                               "threads":1,
                                               "wallclock":"00:10:00"},
                                       },
                         },
                     plotstr="plot_map.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR"
                     )',
    'run_application("lfric_atm", "aquaplanet_simple",
                     resolutions=[("C12",1800.0)],
                     env={"crun":2, "nrun":12,
                          "directives":{"C12":{"mpi_parts":6,
                                               "threads":1,
                                               "wallclock":"00:10:00"},
                                       },
                         },
                     plotstr="plot_map.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR"
                     )',
   'run_application("lfric_atm", "thai_ben1",
                            resolutions=[("C24",1800.0)],
                            env={"crun":1, "nrun":72,
                            "directives":{"C24":{"mpi_parts":6,
                                                 "threads":1,
                                                 "wallclock":"00:10:00"},
                                         },
                            },
			    plotstr="plot_map.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR"
                           )',
     'check_compilers("lfric_atm", "nwp_gal9_mg_copy", "full-debug",
                     resolution=("C48_MG",1800.0))',
   'publish_commit'
  ],

  'performance': [
    'run_application("lfric_atm", "nwp_gal9_hres_perf",
                     configuration_suffix="24nodes",
                     checkkgo=False,
                     resolutions=[("C192_MG", 720.0)],
                     env={"crun":1, "nrun":120,
                          "directives":{
                                        "C192_MG":{"mpi_parts":864,
                                               "threads":1,
                                               "wallclock":"0:40:00"},
					       } },)',
    'run_application("lfric_atm", "clim_gal9_mg_perf",
                     configuration_suffix="6nodes",
                     checkkgo=False,
                     resolutions=[("C48_MG", 1800.0)],
                     env={"crun":1, "nrun":720,
                          "directives":{
                                        "C48_MG":{"mpi_parts":216,
                                               "threads":1,
                                               "wallclock":"0:40:00"},
					       } },)',
  ],
  'exoplanet': [
    'run_application("lfric_atm", "thai_ben1", checkkgo=False,
                            resolutions=[("C24",1800.0)],
                            env={"crun":1, "nrun":72,
                            "directives":{"C24":{"mpi_parts":6,
                                                 "threads":1,
                                                 "wallclock":"00:10:00"},
                                         },
                            },
			    plotstr="plot_map.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR"
                           )',
    'publish_commit'
  ],
  'basic-gal-demo': [
    'run_application("lfric_atm", "clim_gal9_mg", checkkgo=False,
                     resolutions=[("C48_MG",  1800.)],
                     env={"crun":24, "nrun":720,
                          "directives":{
                                        "C48_MG":{"mpi_parts":216,
                                               "threads":1,
                                               "wallclock":"0:40:00"},
					       },
                         },
                     plotstr="plot_map.py -encorr $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR"
                     )',
    'run_application("lfric_atm", "nwp_gal9_hres", checkkgo=False,
                     resolutions=[("C192_MG", 720.0)],
                     env={"crun":2, "nrun":300,
                          "directives":{
                                        "C192_MG":{"mpi_parts":864,
                                               "threads":1,
                                               "xios_nodes":2,
                                               "mpi_parts_xios":72,
                                               "wallclock":"0:40:00"},
					       },
                         },
                     plotstr="plot_map.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR"
                     )',
  ],
  'basic-ral-demo': [
   'run_application("lfric_atm", "basic_ral_nemo_1p5km", checkkgo=False,
 		    resolutions=[("point_nemo_1p5km_MG",30.)],
 		    env={"crun":6, "nrun":120,
 		    "directives":{"default":{"mpi_parts":729,
 		                             "threads":1,
                                             "xios_nodes":9,
                                             "mpi_parts_xios":162,
 		                             "wallclock":"00:30:00"} } },
 		    plotstr="plot_map.py -ral $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
		     ],
} %}
