{%- set projectName = 'lfric_atm' %}
{%- set projectDir  = 'lfric_atm' %}
{%- set miniappFlag = False %}
{%- set appDiagStemName = 'diagLfricAtm' %}
{%- set rdef_precision = "64" %}
{%- set mesh_rdef_precision = "64" %}

{%- set application_configurations = { 'lfric_atm' : ['dry_conv_bl_scm',
                                                      'wet_conv_bl_scm',
                                                      'dry_conv_bl_spectral_gwd_scm',
                                                      'wet_conv_bl_cld_scm',
                                                      'wet_conv_bl_conv_scm',
                                                      'wet_conv_bl_cld_mphys_scm',
                                                      'wet_conv_bl_rad_scm',
                                                      'wet_conv_bl_rad_tiles_scm',
                                                      'wet_conv_bl_conv6a_scm',
                                                      'wet_conv_bl_conv6a_sh_scm',
                                                      'wet_conv_bl_cld_scm_checkrestart',
                                                      'robert-moist-smag',
                                                      'robert-moist-blended-smag',
                                                      'aquaplanet',
						      ],
                                     } %}

{%- set canned_configurations  = ['lfric_atm'] %}

{%- set groups = {
  'developer': [
    'run_application("lfric_atm", "dry_conv_bl_scm",
                     resolutions=[("BiP4x4-10000x10000",600.0)],
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "wet_conv_bl_scm",
                     resolutions=[("BiP4x4-10000x10000",600.0)] ,
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "dry_conv_bl_spectral_gwd_scm",
                     resolutions=[("BiP4x4-10000x10000",600.0)] ,
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "wet_conv_bl_cld_scm",
                     resolutions=[("BiP4x4-10000x10000",600.0)] ,
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "wet_conv_bl_conv_scm",
                     resolutions=[("BiP4x4-10000x10000",600.0)] ,
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "wet_conv_bl_cld_mphys_scm",
                     resolutions=[("BiP4x4-10000x10000",600.0)] ,
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "wet_conv_bl_rad_scm",
                     resolutions=[("BiP4x4-10000x10000",600.0)] ,
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "wet_conv_bl_rad_tiles_scm",
                     resolutions=[("BiP4x4-10000x10000",600.0)] ,
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "wet_conv_bl_conv6a_scm",
                     resolutions=[("BiP4x4-10000x10000",600.0)] ,
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "wet_conv_bl_conv6a_sh_scm",
                     resolutions=[("BiP4x4-10000x10000",600.0)] ,
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "wet_conv_bl_cld_scm_checkrestart",
                     resolutions=[("BiP4x4-10000x10000",600.0)] ,
                     env={"crun":2, "nrun":24},
                     plotstr="plot_scm_checkrestart.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "robert-moist-smag",
                     resolutions=[("BiP50x4-20x20",2.5)] ,
                     env={"crun":2, "nrun":100},
                     plotstr="robert_plot.py ' + appDiagStemName + ' $NODAL_DATA_DIR 50 4 theta:w3projection_xi2:m_v T000000:T000100:T000200 $PLOT_DIR")',
    'run_application("lfric_atm", "robert-moist-blended-smag",
                     resolutions=[("BiP50x4-20x20",2.5)] , 
                     env={"crun":2, "nrun":100}, 
                     plotstr="robert_plot.py ' + appDiagStemName + ' $NODAL_DATA_DIR 50 4 theta:w3projection_xi2:m_v T000000:T000100:T000200 $PLOT_DIR")',
    'run_application("lfric_atm", "aquaplanet",
                     resolutions=[("C12",300.0)],
		     env={"crun":2, "nrun":1,
                          "directives":{"C12":{"mpi_parts":6,
                                                 "threads":1,
                                               "wallclock":"00:05:00"},
                                       }, 
                         }
		     )',
    'check_compilers("lfric_atm", "dry_conv_bl_scm", "fast-debug",
                     resolution=("BiP4x4-10000x10000",600.0))',
    'canned_test("lfric_atm")',
    'cleanliness'
  ],
  'nightly': [
    'run_application("lfric_atm", "dry_conv_bl_scm",
                     resolutions=[("BiP4x4-10000x10000",600.0)],
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'publish_commit'
  ],
  'nightly-full-debug': [
    'run_application("lfric_atm", "dry_conv_bl_scm",
                     resolutions=[("BiP4x4-10000x10000",600.0)],
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'check_compilers("lfric_atm", "dry_conv_bl_scm", "full-debug",
                     resolution=("BiP4x4-10000x10000",600.0),
                     publish=True)',
    'publish_commit'
  ],
} %}
