{%- set projectName = 'adjoint' %}
{%- set projectDir  = 'adjoint' %}
{%- set miniappFlag = False %}

{%- set projectApps = [ None ] %}

{# Set the compiler debug profile for runs in this suite #}
{# Options are ['fast-debug'|'full-debug'|'production'], #}
{# omission defaults to 'fast-debug'                     #}
{%- set run_application_profile = '' %}

{%- set rdef_default    = "64" %}
{%- set mesh_rdef       = "64" %}
{%- set mesh_build      = "fast-debug" %}
{%- set MAXRUNAHEAD     = 2 %}

{%- set groups = {
  'developer': [
    'validate_rose_meta_graph("adjoint")',
    'api_documentation_graph(publish=False)',
    'check_config_dump_graph()',
    'check_style_graph()',
    'check_globals_graph()',
    'check_compilers("fast-debug", publish=False)'
  ],
  'nightly':   [
    'check_compilers("full-debug", publish=True)',
    'api_documentation_graph(publish=True)',
    'publish_commit'
  ]
} %}
