{# Here we set a dictionary of jobs used in csar tests. csar = Computational and Scientific Assessment Report #}
{# These can then be imported into the main rose stem groups as required #}

{%- set csar_groups = {
                'csar-robert':['''science(robert, 
                                         resolutions=[("BiP100x4-10x10", 0.25, 0.5, 1.0, 2.0), 
                                                      ("BiP50x4-20x20", 0.5, 1.0, 2.0)], 
                                         env={"crun": 12,
                                              "nrun":{"default":36,
				                      ("BiP100x4-10x10", 0.25): 360,
						      ("BiP100x4-10x10", 0.5): 180,
						      ("BiP100x4-10x10", 1.0): 90,
						      ("BiP100x4-10x10", 2.0): 45,
						      ("BiP100x4-20x20", 0.5): 180,
						      ("BiP100x4-20x20", 1.0): 90,
						      ("BiP100x4-20x20", 2.0): 45,
						     },
                                              "directives":
                                                     {"default": 
                                                       {"mpi_parts":25, 
                                                        "threads":1, 
                                                        "wallclock":"01:30:00"}
                                                     }
                                             }, 
                                         checkkgo=False)''',
                               ],
                'csar-robert-moist':['''science(robert-moist, 
                                         resolutions=[("BiP100x4-10x10", 0.25, 0.5), 
                                                      ("BiP50x4-20x20", 0.5)], 
                                         env={"crun":5,
                                              "nrun":
                                                   {"default":50, 
						   ("BiP100x4-10x10", 0.25): 200,
						   ("BiP100x4-10x10", 0.5): 200,
						   ("BiP100x4-20x20", 0.25): 200,
						   },
                                              "directives":
                                                   {"BiP100x4-20x20": 
                                                       {"mpi_parts":10, 
                                                        "threads":1, 
                                                        "wallclock":"01:00:00"},
                                                    "BiP100x4-10x10": 
                                                       {"mpi_parts":10, 
                                                        "threads":1, 
                                                        "wallclock":"01:00:00"},
                                                    "BiP50x4-20x20": 
                                                       {"mpi_parts":5, 
                                                        "threads":1, 
                                                        "wallclock":"01:00:00"},
                                                   }
                                             },
                                         checkkgo=False)''',
                             ],
                'csar-sbr':['''science(sbr_spinupwinds, 
                                         resolutions=[("C24",1.0, 5.0, 10.0, 20.0), 
                                                      ("C48",1.0, 5.0, 10.0, 20.0), 
                                                      ("C96",1.0, 5.0, 10.0, 20.0)], 
                                         env={"crun":1440,
                                              "nrun":
                                                   {"default":180, 
						   ("C24", 5.): 72,
						   ("C24", 10.): 36,
						   ("C24", 20.): 18,
						   ("C48", 5.): 72,
						   ("C48", 10.): 36,
						   ("C48", 20.): 18,
						   ("C96", 5.): 72,
						   ("C96", 10.): 36,
						   ("C96", 20.): 18,
						   },
                                              "directives":
                                                   {"C24": 
                                                       {"mpi_parts":36, 
                                                        "threads":1, 
                                                        "wallclock":"02:00:00"},
                                                    "C48": 
                                                       {"mpi_parts":216, 
                                                        "threads":1, 
                                                        "wallclock":"02:00:00"},
                                                    "C96": 
                                                       {"mpi_parts":432, 
                                                        "threads":1, 
                                                        "wallclock":"02:00:00"},
                                                   }
                                             }, 
                                         checkkgo=False)''',
                              ],
                'csar-short':['''science(dcmip301, 
                                         resolutions=[("C24")], 
                                         checkkgo=False,
                                         plotstr="dcmip301.py $NODAL_DATA_DIR theta T000180:T000252:T000324:T000360 $PLOT_DIR")''',
                              '''science(straka_x, 
                                         resolutions=[("BiP128x4-400x400")], 
                                         env={"nrun":
                                                   {"default":180, 
						   },
                                              "directives":
                                                   {"default": 
                                                       {"mpi_parts":18, 
                                                        "threads":2, 
                                                        "wallclock":"01:00:00"},
                                                   }
                                             }, 
                                         checkkgo=False,
                                         plotstr="straka_plot_x.py $NODAL_DATA_DIR theta T000180 $PLOT_DIR" )''',
                              '''science(straka_y, 
                                         resolutions=[("BiP4x128-400x400")], 
                                         env={"nrun":
                                                   {"default":90, 
						   },
                                             },
                                         plotstr="straka_plot_y.py $NODAL_DATA_DIR theta T000180 $PLOT_DIR" )''',
                              '''science(biperiodic_p0_gw,
                                         resolutions=[("BiP300x4-1000x2000")], 
                                         checkkgo=False)''',
                              '''science(biperiodic_p0_gw, 
                                         resolutions=[("BiP30x4-12000x2000")], 
                                         checkkgo=False)''',
                             ],		
                'csar-umbuild':['''miniapp(umphysics_testbuild, env={"umphysics":True}, checkkgo=True )''',
                    ],
                  }
%}

{# If we want to run all the tests in one go, then collect them into a single group... #}
{% if 'csar-all' not in csar_groups.keys() %}
{%   do csar_groups.update({'csar-all':[]}) %}
{% endif %}
{% for csar_subgroup in csar_groups.keys() %}
{%   do csar_groups['csar-all'].extend(csar_groups[csar_subgroup]) %}
{% endfor %}
