{# Here we set a dictionary of jobs used in csar tests. csar = Computational and Scientific Assessment Report #}
{# These can then be imported into the main rose stem groups as required #}

{%- set csar_groups = {
                'csar-robert':['run_application(gungho, robert,
                                         resolutions=[("BiP100x4-10x10", 0.25, 0.5, 1.0, 2.0),
                                                      ("BiP50x4-20x20", 0.5, 1.0, 2.0)],
                                         env={"crun": 12,
                                              "nrun":{"default":36,
                                                      ("BiP100x4-10x10", 0.25): 360,
                                                      ("BiP100x4-10x10", 0.5): 180,
                                                      ("BiP100x4-10x10", 1.0): 90,
                                                      ("BiP100x4-10x10", 2.0): 45,
                                                      ("BiP100x4-20x20", 0.5): 180,
                                                      ("BiP100x4-20x20", 1.0): 90,
                                                      ("BiP100x4-20x20", 2.0): 45
                                                     },
                                              "directives":
                                                     {"default":
                                                       {"mpi_parts":25,
                                                        "threads":1,
                                                        "wallclock":"01:30:00"}
                                                     }
                                             },
                                         checkkgo=False)'
                               ],
                'csar-robert-moist':['run_application(gungho, robert-moist,
                                      resolutions=[("BiP100x4-10x10", 0.25, 0.5),
                                                   ("BiP50x4-20x20", 0.5)],
                                         env={"crun":5,
                                              "nrun":{"default":50,
                                                   ("BiP100x4-10x10", 0.25): 200,
                                                   ("BiP100x4-10x10", 0.5): 200,
                                                   ("BiP100x4-20x20", 0.25): 200
                                                   },
                                              "directives":
                                                   {"BiP100x4-20x20":
                                                       {"mpi_parts":10,
                                                        "threads":1,
                                                        "wallclock":"01:00:00"},
                                                    "BiP100x4-10x10":
                                                       {"mpi_parts":10,
                                                        "threads":1,
                                                        "wallclock":"01:00:00"},
                                                    "BiP50x4-20x20":
                                                       {"mpi_parts":5,
                                                        "threads":1,
                                                        "wallclock":"01:00:00"}
                                                   }
                                             },
                                         checkkgo=False)'
                             ],
                'csar-sbr':['run_application(gungho, sbr_spinupwinds,
                                      resolutions=[("C24",1800.0),
                                                   ("C48",1800.0),
                                                   ("C96",900.0),
                                                   ("C192",450.0)],
                                         env={"crun":20,
                                              "nrun":{"default":96,
                                                   ("C24", 1800.0): 96,
                                                   ("C48", 1800.0): 96,
                                                   ("C96", 900.0): 96,
                                                   ("C192",450.0): 96
                                                   },
                                              "directives":
                                                   {"C24":
                                                       {"mpi_parts":6,
                                                        "threads":1,
                                                        "wallclock":"02:00:00"},
                                                    "C48":
                                                       {"mpi_parts":24,
                                                        "threads":1,
                                                        "wallclock":"02:00:00"},
                                                    "C96":
                                                       {"mpi_parts":96,
                                                        "threads":1,
                                                        "wallclock":"02:00:00"},
                                                    "C192":
                                                       {"mpi_parts":384,
                                                        "threads":1,
                                                        "wallclock":"02:00:00"}
                                                   }
                                             },
                                         checkkgo=False)'
                              ],
                'csar-baroclinic':['run_application(gungho, baroclinic,
                                      resolutions=[("C24",1800.0),
                                                   ("C48",1800.0),
                                                   ("C96",900.0),
                                                   ("C192",450.0)],
                                         env={"crun":20,
                                              "nrun":{"default":96,
                                                   ("C24", 1800.0): 96,
                                                   ("C48", 1800.0): 96,
                                                   ("C96", 900.0): 96,
                                                   ("C192",450.0): 96
                                                   },
                                              "directives":
                                                   {"C24":
                                                       {"mpi_parts":6,
                                                        "threads":1,
                                                        "wallclock":"02:00:00"},
                                                    "C48":
                                                       {"mpi_parts":24,
                                                        "threads":1,
                                                        "wallclock":"03:00:00"},
                                                    "C96":
                                                       {"mpi_parts":96,
                                                        "threads":1,
                                                        "wallclock":"03:00:00"},
                                                    "C192":
                                                       {"mpi_parts":384,
                                                        "threads":1,
                                                        "wallclock":"03:00:00"}
                                                   }
                                             },
                                         checkkgo=False,
                                         plotstr="baroclinic.py diagDynamo $NODAL_DATA_DIR theta:exner:w3projection_u1:w3projection_u2:w3projection_u3 T000096:T0000192:T000384:T000480:T000960:T001920 $PLOT_DIR 1")'
                              ],
                'csar-hiwpp':['run_application(gungho, baroclinic,
                                      resolutions=[("C192", 450.0),
                                                   ("C192s",450.0),
                                                   ("C384", 225.0),
                                                   ("C384s",225.0)],
                                         env={"crun":4,
                                              "nrun":{"default":96,
                                                   ("C192", 450.0): 96,
                                                   ("C192s",450.0): 96,
                                                   ("C384", 225.0): 96,
                                                   ("C384s",225.0): 96
                                                   },
                                              "directives":
                                                   {
                                                    "C192":
                                                       {"mpi_parts":384,
                                                        "threads":1,
                                                        "wallclock":"03:00:00"},
                                                    "C192s":
                                                       {"mpi_parts":384,
                                                        "threads":1,
                                                        "wallclock":"03:00:00"},
                                                    "C384":
                                                       {"mpi_parts":1536,
                                                        "threads":1,
                                                        "wallclock":"03:00:00"},
                                                    "C384s":
                                                       {"mpi_parts":1536,
                                                        "threads":1,
                                                        "wallclock":"03:00:00"}
                                                   }
                                             },
                                         checkkgo=False,
                                         plotstr="slices.py diagDynamo $NODAL_DATA_DIR w3projection_u2:w3projection_u3 T000096:T0000192:T000384 180 -35 1 $PLOT_DIR")'
                              ],
                'csar-straka':['run_application( gungho, straka_x,   resolutions=[("BiP128x4-400x400",10.0)],checkkgo=False,
                                                 plotstr="straka_plot_x.py $NODAL_DATA_DIR 128 4 theta T000090 $PLOT_DIR" )',
                               'run_application( gungho, straka_200m,resolutions=[("BiP256x4-200x200",5.0)],checkkgo=False,
                                                 plotstr="straka_plot_x.py $NODAL_DATA_DIR 256 4 theta T000180 $PLOT_DIR" )',
                               'run_application( gungho, straka_100m,resolutions=[("BiP512x4-100x100",2.5)],checkkgo=False,
                                                 env={"crun":1, "nrun":360,
                                                      "directives":{"default":{"mpi_parts":32,"threads":1,"wallclock":"02:00:00"} } },
                                                 plotstr="straka_plot_x.py $NODAL_DATA_DIR 512 4 theta T000360 $PLOT_DIR" )',
                               'run_application( gungho, straka_50m, resolutions=[("BiP1024x4-50x50",1.25)],checkkgo=False,
                                                 env={"crun":1, "nrun":720,
                                                      "directives":{"default":{"mpi_parts":128,"threads":1,"wallclock":"03:00:00"} } },
                                                 plotstr="straka_plot_x.py $NODAL_DATA_DIR 1024 4 theta T000720 $PLOT_DIR" )',
                               'run_application( gungho, straka_25m, resolutions=[("BiP2048x4-25x25",0.625)],checkkgo=False,
                                                 env={"crun":1, "nrun":1440,
                                                      "directives":{"default":{"mpi_parts":512,"threads":1,"wallclock":"03:00:00"} } },
                                                 plotstr="straka_plot_x.py $NODAL_DATA_DIR 2048 4 theta T001440 $PLOT_DIR" )'],
                'csar-short':['run_application(gungho, dcmip301,
                                         resolutions=[("C24",10.0)],
                                         checkkgo=False,
                                         plotstr="dcmip301.py $NODAL_DATA_DIR theta T000180:T000252:T000324:T000360 $PLOT_DIR")',
                              'run_application(gungho, straka_x,
                                         resolutions=[("BiP128x4-400x400",10.0)],
                                         env={"nrun":180,
                                              "directives":{"default":{"mpi_parts":18,
                                                                       "threads":2,
                                                                       "wallclock":"01:00:00"}
                                                           }
                                             },
                                         checkkgo=False,
                                         plotstr="straka_plot_x.py $NODAL_DATA_DIR theta T000180 $PLOT_DIR" )',
                              'run_application(gungho, straka_y,
                                         resolutions=[("BiP4x128-400x400",10.0)],
                                         env={"nrun":90},
                                         plotstr="straka_plot_y.py $NODAL_DATA_DIR theta T000180 $PLOT_DIR" )',
                              'run_application(gungho, biperiodic_p0_gw,
                                         resolutions=[("BiP300x4-1000x2000",10.0)],
                                         checkkgo=False)',
                              'run_application(gungho, biperiodic_p0_gw,
                                         resolutions=[("BiP30x4-12000x2000",10.0)],
                                         checkkgo=False)',
                              'run_application( gungho, warm3dbubble,
                                         resolutions=[("BiP80x80-40x40",2.5)], 
                                         env={"crun":1, "nrun":192,
                                         "directives":{"default":{"mpi_parts":64,"threads":1,"wallclock":"02:30:00"} } },
                                         plotstr="warm3dbubble.py $NODAL_DATA_DIR 80 80 theta T000000:T000096:T000192 $PLOT_DIR",
                                         checkkgo=False)',
                             ],
                  }
%}

{# If we want to run all the tests in one go, then collect them into a single group... #}
{% if 'csar-all' not in csar_groups.keys() %}
{%   do csar_groups.update({'csar-all':[]}) %}
{% endif %}
{% for csar_subgroup in csar_groups.keys() %}
{%   if csar_subgroup != 'csar-all' %}
{%     do csar_groups['csar-all'].extend(csar_groups[csar_subgroup]) %}
{%   endif %}
{% endfor %}


