{%- set row    = "'row'" %}
{%- set column = "'column'" %}
{%- set auto   = "'auto'" %}
{%- set custom = "'custom'" %}

{%- set projectName = 'transport' %}
{%- set projectDir  = 'transport' %}
{%- set miniappFlag = True %}

{%- set projectApps = ['transport','mesh'] %}

{# Default setting to enable xios for all tasks in this suite. Is overrided if #}
{# 'use_xios' ["True"|"False"] is specified in the specific task directives    #}
{%- set default_use_xios = "False" %}

{# Default number of mpi ranks to be used by the xios server if unspecified    #}
{# directly in suite.rc task. Although it is set, it should only have any      #}
{# impact if xios is being used, i.e. if xios_nodes > 0. These aren't the most #}
{# intuitive variable names as they're using the existing naming convention    #}
{# They should be changed at a later date to be something more intuitive.      #}
{%- set default_mpi_parts_xios = 0 %}

{# Set the compiler debug profile for runs in this suite #}
{# Options are ['fast-debug'|'full-debug'|'production'], #}
{# omission defaults to 'fast-debug'                     #}
{%- set run_application_profile = '' %}

{%- set appDiagStemName = 'diagTransport' %}
{%- set rdef_default    = "64" %}
{%- set mesh_rdef       = "64" %}
{%- set mesh_build      = "fast-debug" %}
{%- set MAXRUNAHEAD     = 1 %}

{%- set application_configurations = { 'transport' : [
                                    'hadley_dcmip_mol', 'hadley_dcmip_ffsl', 'hadley_dcmip_split',
                                    'hadley_dcmip_mol1d_overset', 'hadley_dcmip_ffsl_overset',
                                    'sbr_hori_cosine_mol', 'sbr_hori_cosine_ffsl',
                                    'cylinder_xz_mol', 'cylinder_xz_ffsl', 'cylinder_xz_split',
                                    'sbr_vertical_mol', 'sbr_vertical_ffsl', 'sbr_vertical_split',
                                    'dcmip101_mol', 'dcmip101_ffsl', 'dcmip101_split',
                                    'vertical_deformation_mol', 'vertical_deformation_ffsl', 'vertical_deformation_split',
                                    'eternal_fountain_xz_mol', 'eternal_fountain_xz_ffsl',
                                    'eternal_fountain_xz_split_hvh', 'eternal_fountain_xz_split_vhv',
                                    'sbr_hori_cos_phi_mol', 'sbr_hori_cos_phi_ffsl', 'sbr_hori_cos_phi_mol1d', 'sbr_hori_cos_phi_mol1d_overset', 'sbr_hori_cos_phi_ffsl_overset',
                                    'rotational_xz_ffsl',
                                    'translational_xz_ffsl',
                                    'div_free_reversible_xz_ffsl',
                                    'curl_free_reversible_xz_ffsl',
                                    'constant_wind_xy_ffsl',
                                    'deformation_yz_ffsl',
                                    'deformation_2d_ffsl',
                                    'sbr_gaussian_equator_ffsl',
                                    'sbr_gaussian_corner_ffsl',
                                    'sbr_gaussian_pole_ffsl',
                                    'four_part_sbr',
                                    'hadley_dcmip_ffsl_3d',
                                    'hadley_dcmip_ffsl_3d_overset',
                                    'cylinder_xz_ffsl_3d',
                                    'cylinder_xz_ffsl_bigcfl',
                                    'curl_free_reversible_xz_ffsl_bigcfl',
                                    'hadley_dcmip_ffsl_overset_bigcfl'] } %}

{%- set canned_configurations = ['transport'] %}

{%- set groups = {
'developer': [
    'validate_rose_meta_graph("transport",appName="transport")',
    'validate_rose_meta_graph("transport",appName="mesh")',
    'check_config_dump_graph()',
    'check_style_graph()',
    'api_documentation_graph(publish=True)',
    'run_application("transport", "hadley_dcmip_mol",
                     resolutions=[("C48",300.0)],
                     env={"crun":1, "nrun":10,
                          "directives":{"default":{"mpi_parts":12,"threads":1,"wallclock":"00:20:00"} } }  )',
    'run_application("transport", "hadley_dcmip_ffsl",
                     resolutions=[("C48",300.0)],
                     env={"crun":1, "nrun":10,
                          "directives":{"default":{"mpi_parts":12,"threads":1,"wallclock":"00:20:00"} } }  )',
    'run_application("transport", "hadley_dcmip_mol1d_overset",
                     resolutions=[("C48",300.0)],
                     env={"crun":1, "nrun":10,
                          "directives":{"default":{"mpi_parts":12,"threads":1,"wallclock":"00:20:00"} } }  )',
    'run_application("transport", "hadley_dcmip_ffsl_overset",
                     resolutions=[("C48",300.0)],
                     env={"crun":1, "nrun":10,
                          "directives":{"default":{"mpi_parts":12,"threads":1,"wallclock":"00:20:00"} } }  )',
    'run_application("transport", "hadley_dcmip_ffsl_3d_overset",
                     resolutions=[("C48",300.0)],
                     env={"crun":1, "nrun":10,
                          "directives":{"default":{"mpi_parts":12,"threads":1,"wallclock":"00:20:00"} } }  )',
    'run_application("transport", "hadley_dcmip_split",
                     resolutions=[("C48",300.0)],
                     env={"crun":1, "nrun":10,
                          "directives":{"default":{"mpi_parts":12,"threads":1,"wallclock":"00:20:00"} } }  )',
    'run_application("transport", "cylinder_xz_mol",
                     resolutions=[("BiP100x10-20x20", 4.0)],
                     env={"crun":1, "nrun":10,
                          "directives":{"default":{"mpi_parts":4,"threads":1,"wallclock":"00:20:00","use_xios":"True"} } } )',
    'run_application("transport", "cylinder_xz_ffsl",
                     resolutions=[("BiP100x10-20x20", 4.0)],
                     env={"crun":1, "nrun":10,
                          "directives":{"default":{"mpi_parts":4,"threads":1,"wallclock":"00:20:00","use_xios":"True"} } } )',
    'run_application("transport", "cylinder_xz_split",
                     resolutions=[("BiP100x10-20x20", 4.0)],
                     env={"crun":1, "nrun":10,
                          "directives":{"default":{"mpi_parts":4,"threads":1,"wallclock":"00:20:00","use_xios":"True"} } } )',
    'run_application("transport", "sbr_hori_cosine_mol",
                     resolutions=[("C32",4050.0)],
                     env={"nrun":10,
                          "directives":{"default":{"mpi_parts":6, "wallclock":"00:20:00"} } } )',
    'run_application("transport", "sbr_hori_cosine_ffsl",
                     resolutions=[("C32",4050.0)],
                     env={"nrun":10,
                          "directives":{"default":{"mpi_parts":6, "wallclock":"00:20:00"} } } )',
    'check_compilers("transport", "sbr_hori_cosine_mol", "full-debug",
                     resolution=("C32", 4050.0) )',
    'canned_test( "transport", processes=6, precisions=["32", "64"],
                  run_with_compilers='~TARGET_CANNED_COMPILER~' )'
],
'comparison': [
    'run_application("transport", "eternal_fountain_xz_mol",
                     resolutions=[("BiP100x10-20x20", 2.0)],
                     env={"crun":1, "nrun":500,
                          "directives":{"default":{"mpi_parts":4,"threads":1,"wallclock":"01:00:00","use_xios":"True"} } },
                     plotstr="spherical_and_vertical_slice_ugrid_plot.py $NODAL_DATA_DIR/lfric_diag.nc $PLOT_DIR rho:theta:tracer_con:tracer_adv:m_v xz all linear eternal_fountain",
                     checkkgo=False)',
    'run_application("transport", "eternal_fountain_xz_ffsl",
                     resolutions=[("BiP100x10-20x20", 2.0)],
                     env={"crun":1, "nrun":500,
                          "directives":{"default":{"mpi_parts":4,"threads":1,"wallclock":"01:00:00","use_xios":"True"} } },
                     plotstr="spherical_and_vertical_slice_ugrid_plot.py $NODAL_DATA_DIR/lfric_diag.nc $PLOT_DIR rho:theta:tracer_con:tracer_adv:m_v xz all linear eternal_fountain",
                     checkkgo=False)',
    'run_application("transport", "eternal_fountain_xz_split_hvh",
                     resolutions=[("BiP100x10-20x20", 2.0)],
                     env={"crun":1, "nrun":500,
                          "directives":{"default":{"mpi_parts":4,"threads":1,"wallclock":"01:00:00","use_xios":"True"} } },
                     plotstr="spherical_and_vertical_slice_ugrid_plot.py $NODAL_DATA_DIR/lfric_diag.nc $PLOT_DIR rho:theta:tracer_con:tracer_adv:m_v:w3_aerosol:wt_aerosol xz all linear eternal_fountain",
                     checkkgo=False)',
    'run_application("transport", "eternal_fountain_xz_split_vhv",
                     resolutions=[("BiP100x10-20x20", 2.0)],
                     env={"crun":1, "nrun":500,
                          "directives":{"default":{"mpi_parts":4,"threads":1,"wallclock":"01:00:00","use_xios":"True"} } },
                     plotstr="spherical_and_vertical_slice_ugrid_plot.py $NODAL_DATA_DIR/lfric_diag.nc $PLOT_DIR rho:theta:tracer_con:tracer_adv:m_v:w3_aerosol:wt_aerosol xz all linear eternal_fountain",
                     checkkgo=False)',
    'run_application("transport", "hadley_dcmip_mol",
                     resolutions=[("C48",300.0)],
                     env={"crun":1, "nrun":288,
                          "directives":{"default":{"mpi_parts":12,"threads":1,"wallclock":"01:00:00","use_xios":"True"} } },
                     plotstr="spherical_and_vertical_slice_ugrid_plot.py $NODAL_DATA_DIR/lfric_diag.nc $PLOT_DIR theta:tracer_con:tracer_adv:constant:m_v yz all linear hadley",
                     checkkgo=False )',
    'run_application("transport", "hadley_dcmip_ffsl",
                     resolutions=[("C48",300.0)],
                     env={"crun":1, "nrun":288,
                          "directives":{"default":{"mpi_parts":12,"threads":1,"wallclock":"01:00:00","use_xios":"True"} } },
                     plotstr="spherical_and_vertical_slice_ugrid_plot.py $NODAL_DATA_DIR/lfric_diag.nc $PLOT_DIR theta:tracer_con:tracer_adv:constant:m_v yz all linear hadley",
                     checkkgo=False )',
    'run_application("transport", "hadley_dcmip_ffsl_3d",
                     resolutions=[("C48",300.0)],
                     env={"crun":1, "nrun":288,
                          "directives":{"default":{"mpi_parts":12,"threads":1,"wallclock":"01:00:00","use_xios":"True"} } },
                     plotstr="spherical_and_vertical_slice_ugrid_plot.py $NODAL_DATA_DIR/lfric_diag.nc $PLOT_DIR theta:tracer_con:tracer_adv:constant:m_v yz all linear hadley",
                     checkkgo=False )',
    'run_application("transport", "hadley_dcmip_mol1d_overset",
                     resolutions=[("C48",300.0)],
                     env={"crun":1, "nrun":288,
                          "directives":{"default":{"mpi_parts":12,"threads":1,"wallclock":"01:00:00","use_xios":"True"} } },
                     plotstr="spherical_and_vertical_slice_ugrid_plot.py $NODAL_DATA_DIR/lfric_diag.nc $PLOT_DIR theta:tracer_con:tracer_adv:constant:m_v yz all linear hadley",
                     checkkgo=False )',
    'run_application("transport", "hadley_dcmip_ffsl_overset",
                     resolutions=[("C48",300.0)],
                     env={"crun":1, "nrun":288,
                          "directives":{"default":{"mpi_parts":12,"threads":1,"wallclock":"01:00:00","use_xios":"True"} } },
                     plotstr="spherical_and_vertical_slice_ugrid_plot.py $NODAL_DATA_DIR/lfric_diag.nc $PLOT_DIR theta:tracer_con:tracer_adv:constant:m_v yz all linear hadley",
                     checkkgo=False )',
    'run_application("transport", "hadley_dcmip_ffsl_3d_overset",
                     resolutions=[("C48",300.0)],
                     env={"crun":1, "nrun":288,
                          "directives":{"default":{"mpi_parts":12,"threads":1,"wallclock":"01:00:00","use_xios":"True"} } },
                     plotstr="spherical_and_vertical_slice_ugrid_plot.py $NODAL_DATA_DIR/lfric_diag.nc $PLOT_DIR theta:tracer_con:tracer_adv:constant:m_v yz all linear hadley",
                     checkkgo=False )',
    'run_application("transport", "hadley_dcmip_split",
                     resolutions=[("C48",300.0)],
                     env={"crun":1, "nrun":288,
                          "directives":{"default":{"mpi_parts":12,"threads":1,"wallclock":"01:00:00","use_xios":"True"} } },
                     plotstr="spherical_and_vertical_slice_ugrid_plot.py $NODAL_DATA_DIR/lfric_diag.nc $PLOT_DIR theta:tracer_con:tracer_adv:constant:m_v yz all linear hadley",
                     checkkgo=False )',
    'run_application("transport", "cylinder_xz_mol",
                     resolutions=[("BiP100x10-20x20", 4.0)],
                     env={"crun":1, "nrun":500,
                          "directives":{"default":{"mpi_parts":4,"threads":1,"wallclock":"01:00:00","use_xios":"True"} } },
                     plotstr="spherical_and_vertical_slice_ugrid_plot.py $NODAL_DATA_DIR/lfric_diag.nc $PLOT_DIR rho:theta:tracer_con:tracer_adv:m_v xz all linear cylinder",
                     checkkgo=False )',
    'run_application("transport", "cylinder_xz_ffsl",
                     resolutions=[("BiP100x10-20x20", 4.0)],
                     env={"crun":1, "nrun":500,
                          "directives":{"default":{"mpi_parts":4,"threads":1,"wallclock":"01:00:00","use_xios":"True"} } },
                     plotstr="spherical_and_vertical_slice_ugrid_plot.py $NODAL_DATA_DIR/lfric_diag.nc $PLOT_DIR rho:theta:tracer_con:tracer_adv:m_v xz all linear cylinder",
                     checkkgo=False)',
    'run_application("transport", "cylinder_xz_ffsl_3d",
                     resolutions=[("BiP100x10-20x20", 4.0)],
                     env={"crun":1, "nrun":500,
                          "directives":{"default":{"mpi_parts":4,"threads":1,"wallclock":"01:00:00","use_xios":"True"} } },
                     plotstr="spherical_and_vertical_slice_ugrid_plot.py $NODAL_DATA_DIR/lfric_diag.nc $PLOT_DIR rho:theta:tracer_con:tracer_adv:m_v xz all linear cylinder",
                     checkkgo=False)',
    'run_application("transport", "cylinder_xz_split",
                     resolutions=[("BiP100x10-20x20", 4.0)],
                     env={"crun":1, "nrun":500,
                          "directives":{"default":{"mpi_parts":4,"threads":1,"wallclock":"01:00:00","use_xios":"True"} } },
                     plotstr="spherical_and_vertical_slice_ugrid_plot.py $NODAL_DATA_DIR/lfric_diag.nc $PLOT_DIR rho:theta:tracer_con:tracer_adv:m_v xz all linear cylinder",
                     checkkgo=False )',
    'run_application("transport", "sbr_vertical_mol",
                     resolutions=[("C24",3600.0)],
                     env={"crun":1, "nrun":288,
                          "directives":{"default":{"mpi_parts":12,"threads":1,"wallclock":"01:00:00","use_xios":"True"} } },
                     plotstr="spherical_and_vertical_slice_ugrid_plot.py $NODAL_DATA_DIR/lfric_diag.nc $PLOT_DIR rho:theta:tracer_con:tracer_adv:constant:m_v xz all linear sbr",
                     checkkgo=False )',
    'run_application("transport", "sbr_vertical_ffsl",
                     resolutions=[("C24",3600.0)],
                     env={"crun":1, "nrun":288,
                          "directives":{"default":{"mpi_parts":12,"threads":1,"wallclock":"01:00:00","use_xios":"True"} } },
                     plotstr="spherical_and_vertical_slice_ugrid_plot.py $NODAL_DATA_DIR/lfric_diag.nc $PLOT_DIR rho:theta:tracer_con:tracer_adv:constant:m_v xz all linear sbr",
                     checkkgo=False )',
    'run_application("transport", "sbr_vertical_split",
                     resolutions=[("C24",3600.0)],
                     env={"crun":1, "nrun":288,
                          "directives":{"default":{"mpi_parts":12,"threads":1,"wallclock":"01:00:00","use_xios":"True"} } },
                     plotstr="spherical_and_vertical_slice_ugrid_plot.py $NODAL_DATA_DIR/lfric_diag.nc $PLOT_DIR rho:theta:tracer_con:tracer_adv:constant:m_v xz all linear sbr",
                     checkkgo=False )',
    'run_application("transport", "dcmip101_mol",
                     resolutions=[("C24",3600.0)],
                     env={"crun":1, "nrun":288,
                          "directives":{"default":{"mpi_parts":12,"threads":1,"wallclock":"01:00:00","use_xios":"True"} } },
                     plotstr="spherical_and_vertical_slice_ugrid_plot.py $NODAL_DATA_DIR/lfric_diag.nc $PLOT_DIR theta:tracer_con:tracer_adv:constant:m_v xy all linear dcmip101",
                     checkkgo=False )',
    'run_application("transport", "dcmip101_ffsl",
                     resolutions=[("C24",3600.0)],
                     env={"crun":1, "nrun":288,
                          "directives":{"default":{"mpi_parts":12,"threads":1,"wallclock":"01:00:00","use_xios":"True"} } },
                     plotstr="spherical_and_vertical_slice_ugrid_plot.py $NODAL_DATA_DIR/lfric_diag.nc $PLOT_DIR theta:tracer_con:tracer_adv:constant:m_v xy all linear dcmip101",
                     checkkgo=False )',
    'run_application("transport", "dcmip101_split",
                     resolutions=[("C24",3600.0)],
                     env={"crun":1, "nrun":288,
                          "directives":{"default":{"mpi_parts":12,"threads":1,"wallclock":"01:00:00","use_xios":"True"} } },
                     plotstr="spherical_and_vertical_slice_ugrid_plot.py $NODAL_DATA_DIR/lfric_diag.nc $PLOT_DIR theta:tracer_con:tracer_adv:constant:m_v xy all linear dcmip101",
                     checkkgo=False )',
    'run_application("transport", "vertical_deformation_mol",
                     resolutions=[("C24",3600.0)],
                     env={"crun":1, "nrun":288,
                          "directives":{"default":{"mpi_parts":12,"threads":1,"wallclock":"01:00:00","use_xios":"True"} } },
                     plotstr="spherical_and_vertical_slice_ugrid_plot.py $NODAL_DATA_DIR/lfric_diag.nc $PLOT_DIR rho:theta:tracer_con:tracer_adv:constant:m_v xz all linear vert_def",
                     checkkgo=False )',
    'run_application("transport", "vertical_deformation_ffsl",
                     resolutions=[("C24",3600.0)],
                     env={"crun":1, "nrun":288,
                          "directives":{"default":{"mpi_parts":12,"threads":1,"wallclock":"01:00:00","use_xios":"True"} } },
                     plotstr="spherical_and_vertical_slice_ugrid_plot.py $NODAL_DATA_DIR/lfric_diag.nc $PLOT_DIR rho:theta:tracer_con:tracer_adv:constant:m_v xz all linear vert_def",
                     checkkgo=False )',
    'run_application("transport", "vertical_deformation_split",
                     resolutions=[("C24",3600.0)],
                     env={"crun":1, "nrun":288,
                          "directives":{"default":{"mpi_parts":12,"threads":1,"wallclock":"01:00:00","use_xios":"True"} } },
                     plotstr="spherical_and_vertical_slice_ugrid_plot.py $NODAL_DATA_DIR/lfric_diag.nc $PLOT_DIR rho:theta:tracer_con:tracer_adv:constant:m_v xz all linear vert_def",
                     checkkgo=False )',
    'run_application("transport", "sbr_hori_cos_phi_mol",
                     resolutions=[("C32",4050.0)],
                     env={"nrun":288,
                          "directives":{"default":{"mpi_parts":6, "wallclock":"00:20:00"}}},
                     plotstr="errors.py ' + appDiagStemName + ' $NODAL_DATA_DIR rho:theta:tracer_con:tracer_adv T000288 -1 -91 0 0.01 $PLOT_DIR",
                     checkkgo=False )',
    'run_application("transport", "sbr_hori_cos_phi_ffsl",
                     resolutions=[("C32",4050.0)],
                     env={"nrun":288,
                          "directives":{"default":{"mpi_parts":6, "wallclock":"00:20:00"}}},
                     plotstr="errors.py ' + appDiagStemName + ' $NODAL_DATA_DIR rho:theta:tracer_con:tracer_adv T000288 -1 -91 0 0.01 $PLOT_DIR",
                     checkkgo=False )',
    'run_application("transport", "sbr_hori_cos_phi_mol1d",
                     resolutions=[("C32",4050.0)],
                     env={"nrun":288,
                          "directives":{"default":{"mpi_parts":6, "wallclock":"00:20:00"}}},
                     plotstr="errors.py ' + appDiagStemName + ' $NODAL_DATA_DIR rho:theta:tracer_con:tracer_adv T000288 -1 -91 0 0.01 $PLOT_DIR",
                     checkkgo=False )',
    'run_application("transport", "sbr_hori_cos_phi_mol1d_overset",
                     resolutions=[("C32",4050.0)],
                     env={"nrun":288,
                          "directives":{"default":{"mpi_parts":6, "wallclock":"00:20:00"}}},
                     plotstr="errors.py ' + appDiagStemName + ' $NODAL_DATA_DIR rho:theta:tracer_con:tracer_adv T000288 -1 -91 0 0.01 $PLOT_DIR",
                     checkkgo=False )',
    'run_application("transport", "sbr_hori_cos_phi_ffsl_overset",
                     resolutions=[("C32",4050.0)],
                     env={"nrun":288,
                          "directives":{"default":{"mpi_parts":6, "wallclock":"00:20:00"}}},
                     plotstr="errors.py ' + appDiagStemName + ' $NODAL_DATA_DIR rho:theta:tracer_con:tracer_adv T000288 -1 -91 0 0.01 $PLOT_DIR",
                     checkkgo=False )',
    'run_application("transport", "four_part_sbr",
                     resolutions=[("C24",3600.0)],
                     env={"crun":1, "nrun":576,
                          "directives":{"default":{"mpi_parts":12,"threads":1,"wallclock":"01:00:00","use_xios":"True"} } },
                     plotstr="spherical_and_vertical_slice_ugrid_plot.py $NODAL_DATA_DIR/lfric_diag.nc $PLOT_DIR w2_vector1:w2_vector2:w2_vector3 xy all linear four_part_sbr",
                     checkkgo=False )',
],
'next-config': [
     'run_application("transport", "eternal_fountain_xz_ffsl",
                         resolutions=[("BiP100x10-20x20", 2.0)],
                         env={"crun":1, "nrun":500,
                              "directives":{"default":{"mpi_parts":4,"threads":1,"wallclock":"03:00:00","use_xios":"True"} } },
                         plotstr="spherical_and_vertical_slice_ugrid_plot.py $NODAL_DATA_DIR/lfric_diag.nc $PLOT_DIR rho:theta:tracer_con:tracer_adv:m_v xz all linear eternal_fountain",
                         checkkgo=False)',
    'run_application("transport", "sbr_hori_cos_phi_ffsl_overset",
                     resolutions=[("C32",4050.0)],
                     env={"nrun":288,
                          "directives":{"default":{"mpi_parts":6, "wallclock":"00:20:00"}}},
                     plotstr="errors.py ' + appDiagStemName + ' $NODAL_DATA_DIR rho:theta:tracer_con:tracer_adv:m_v T000288 -1 -91 0 0.01 $PLOT_DIR",
                     checkkgo=False )',
    'run_application("transport", "cylinder_xz_ffsl_bigcfl",
                     resolutions=[("BiP100x10-20x20", 50.0)],
                     env={"crun":1, "nrun":40,
                          "directives":{"default":{"mpi_parts":4,"threads":1,"wallclock":"01:00:00","use_xios":"True"} } },
                     plotstr="spherical_and_vertical_slice_ugrid_plot.py $NODAL_DATA_DIR/lfric_diag.nc $PLOT_DIR rho:theta:tracer_con:tracer_adv:m_v xz all linear cylinder",
                     checkkgo=False)',
     'run_application("transport", "curl_free_reversible_xz_ffsl_bigcfl",
                         resolutions=[("BiP100x10-20x20", 40.0)],
                         env={"crun":1, "nrun":50,
                              "directives":{"default":{"mpi_parts":4,"threads":1,"wallclock":"03:00:00","use_xios":"True"} } },
                         plotstr="spherical_and_vertical_slice_ugrid_plot.py $NODAL_DATA_DIR/lfric_diag.nc $PLOT_DIR rho:theta:tracer_con:tracer_adv:m_v:constant xz all linear curl_free",
                         checkkgo=False)',
    'run_application("transport", "hadley_dcmip_ffsl_overset_bigcfl",
                     resolutions=[("C48",3600.0)],
                     env={"crun":1, "nrun":24,
                          "directives":{"default":{"mpi_parts":12,"threads":1,"wallclock":"01:00:00","use_xios":"True"} } },
                     plotstr="spherical_and_vertical_slice_ugrid_plot.py $NODAL_DATA_DIR/lfric_diag.nc $PLOT_DIR theta:tracer_con:tracer_adv:constant:m_v yz all linear hadley",
                     checkkgo=False )',
],

'nightly': [
    'null_task_graph()' ]
} %}


%include inc/ffsl_suite.rc
{%- do groups.update(ffsl_suite_groups) %}
%include inc/vertical_slice.rc
{%- do groups.update(vertical_slice_groups) %}

{%- if RUN_NAMES is defined %}
{%-   if 'nightly_precision_tests' in RUN_NAMES %}
{%-     set rdef_precision = "32" %}
{%-   endif %}
{%- endif %}
