{%- set row    = "'row'" %}
{%- set column = "'column'" %}
{%- set auto   = "'auto'" %}
{%- set custom = "'custom'" %}

{%- set projectName = 'io_dev' %}
{%- set projectDir  = 'io_dev' %}
{%- set miniappFlag = True %}

{%- set projectApps = ['io_dev'] %}

{# Default setting to enable xios for all tasks in this suite. Is overrided if #}
{# 'use_xios' ["True"|"False"] is specified in the specific task directives    #}
{%- set default_use_xios = "True" %}

{# Default number of mpi ranks to be used by the xios server if unspecified    #}
{# directly in suite.rc task. Although it is set, it should only have any      #}
{# impact if xios is being used, i.e. if xios_nodes > 0. These aren't the most #}
{# intuitive variable names as they're using the existing naming convention    #}
{# They should be changed at a later date to be something more intuitive.      #}
{%- set default_mpi_parts_xios = 0 %}

{# Set the compiler debug profile for runs in this suite #}
{# Options are ['fast-debug'|'full-debug'|'production'], #}
{# omission defaults to 'fast-debug'                     #}
{%- set run_application_profile = '' %}

{%- set appDiagStemName = 'diagIoDev' %}
{%- set rdef_default    = "64" %}
{%- set mesh_rdef       = "64" %}
{%- set mesh_build      = "fast-debug" %}
{%- set MAXRUNAHEAD     = 1 %}

{%- set application_configurations = { 'io_dev' : ['read_write', 'gen_dump', 'check_decomp', 'default_cf',
                                                   'time_var', 'time_var_short', 'time_var_10ts',
                                                   'checkpoints', 'default', 'read_write_int', 'default_int'] } %}

{%- set canned_configurations = ['io_dev'] %}

{%- set groups = {
'developer': [
    'validate_rose_meta_graph("io_dev",appName="io_dev")',
    'check_config_dump_graph()',
    'check_style_graph()',
    'api_documentation_graph(publish=True)',
    'compare_restart_kgos_graph()',
    'check_initial_output_graph()',
    'check_output_format_graph()',
    'run_application("io_dev", "default", resolutions=[("C12", 3.0)],
                     env={"crun":1, "nrun":20,}, checkkgo=True,
                     plotstr="plot_io_dev.py $NODAL_DATA_DIR/io_dev_diag.nc time_var:domains W0_field:W2H_field:W3_field")',
    'run_application("io_dev", "default_int", resolutions=[("C12", 3.0)],
                     env={"crun":1, "nrun":20,}, checkkgo=False)',
    'run_application("io_dev", "default_cf", resolutions=[("C12", 3.0)],
                     env={"crun":1, "nrun":20,}, checkkgo=False,
                     plotstr="plot_io_dev.py $NODAL_DATA_DIR/io_dev_diag.nc time_var:domains W0_field:W2H_field:W3_field")',
    'run_application("io_dev", "checkpoints", resolutions=[("C12", 3.0)],
                     env={"crun":2, "nrun":10,}, checkkgo=True)',
    'run_application("io_dev", "read_write",
                     resolutions=[("C12",3.0)],
                     env={"crun":1, "nrun":1,
                          "directives":{"default":{"mpi_parts":6,
                                                   "threads":1,
                                                   "xios_nodes":1,
                                                   "wallclock":"00:05:00"}}},
                     checkkgo=True, publish=True)',
    'run_application("io_dev", "read_write_int",
                     resolutions=[("C12",3.0)],
                     env={"crun":1, "nrun":1,
                          "directives":{"default":{"mpi_parts":6,
                                                   "threads":1,
                                                   "xios_nodes":1,
                                                   "wallclock":"00:05:00"}}},
                     checkkgo=False, publish=True)',
    'run_application("io_dev", "check_decomp",
                     resolutions=[("BiP100x100-10x10",3.0)],
                     env={"crun":1, "nrun":1,
                          "directives":{"default":{"mpi_parts":10,
                                                   "threads":1,
                                                   "xios_nodes":1,
                                                   "wallclock":"00:05:00"}}},
                     checkkgo=True, publish=True,
                     plotstr="plot_io_dev.py $NODAL_DATA_DIR/io_dev_diag.nc domains W0_field:W2H_field:W3_field:W3_2D_field")',
    'run_application("io_dev", "time_var_short",
                     resolutions=[("C12",1.0)],
                     env={"crun":1, "nrun":1,
                          "directives":{"default":{"mpi_parts":6,
                                                   "threads":1,
                                                   "xios_nodes":1,
                                                   "wallclock":"00:05:00"}}},
                     checkkgo=False, publish=True)',
    'run_application("io_dev", "time_var",
                     resolutions=[("C12",86400.0)],
                     env={"crun":1, "nrun":500,
                          "directives":{"default":{"mpi_parts":6,
                                                   "threads":1,
                                                   "xios_nodes":1,
                                                   "wallclock":"00:05:00"}}},
                     plotstr="plot_io_dev.py $NODAL_DATA_DIR/io_dev_diag.nc time_var W3_field:W3_2D_field:multi_data_field",
                     checkkgo=True, publish=True)',
    'run_application("io_dev", "time_var_10ts",
                     resolutions=[("C12",86400.0)],
                     env={"crun":1, "nrun":500,
                          "directives":{"default":{"mpi_parts":6,
                                                   "threads":1,
                                                   "xios_nodes":1,
                                                   "wallclock":"00:05:00"}}},
                     plotstr="plot_io_dev.py $NODAL_DATA_DIR/io_dev_diag.nc time_var W3_field:W3_2D_field:multi_data_field",
                     checkkgo=True, publish=True)',
    'check_compilers("io_dev", "default", "fast-debug",
                     resolution=("C12", 3.0))',
    'check_compilers("io_dev", "default", "full-debug",
                     resolution=("C12", 3.0))',
    'canned_test("io_dev")'],
'nightly': [
    'validate_rose_meta_graph("io_dev",appName="io_dev")',
    'run_application("io_dev", "default",
                     resolutions=[("C384",3.0)],
                     env={"crun":1, "nrun":1,
                          "directives":{"default":{"mpi_parts":12,
                                                   "threads":1,
                                                   "xios_nodes":1,
                                                   "wallclock":"01:00:00"}}},
                     checkkgo=False, publish=True)', ]
 } %}

##############################################################################
