name: Deploy Sphinx documentation to Pages"Update sphinx.yml

on:
  push:
    branches: [main] # branch to trigger deployment

jobs:
  pages:
    runs-on: ubuntu-22.04
    environment:
      name: github-pages
      # url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
    - id: extract
      uses: actions/checkout@v4
      with:
        ref: main
    - id: setup_environment
      uses: actions/setup-python@v4
      with:
        python-version: 3.12
    - id: finesse_environment
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install sphinx sphinx_rtd_theme
    - id: sphinx
      run: |
        cd documentation
        make html
    - id: permissions
      run: |
        chmod -c -R +rX "documentation/build/html/"
    - id: deployment
      uses: actions/upload-pages-artifact@v2
      with:
        name: github-pages
        path: documentation/build/html
        retention-days: 1
    # May not be needed for pull requests?
    - id: deploy
      uses: actions/deploy-pages@v2
