name: Deploy Sphinx documentation to Pages"Update sphinx.yml

on:
  push:
    branches: [main] # branch to trigger deployment

jobs:
  pages:
    runs-on: ubuntu-22.04
    environment:
      name: github-pages
      # url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      pages: write
      id-token: write
    steps:
    - id: setup_environment
      uses: actions/setup-python@v4
      with:
        python-version: 3.12
    - id: finesse_environment
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install sphinx
    - id: extract
      uses: actions/checkout@v4
    - id: sphinx
      run: |
        cd documentation
        make html
        tar --directory html -cf "${{ runner.temp }}/artifact.tar"
    - id: deployment
      uses: actions/upload-pages-artifact@v2
      with:
        name: github-pages
        path: ${{ runner.temp }}/artifact.tar
        retention-days: 1
        if-no-files-found: error
